.class-0 {width: 1920.0px; height: 1181.0px; position: relative; background: rgba(255, 255, 255, 1.0)}
.class-1 {width: 1732.0px; height: 1019.0px; 
                left: 94px; top: 113px; 
                position: absolute; background: rgba(232, 252, 250, 1.0); 
                   
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-2 {width: 1920.0px; height: 50.0px; 
                left: 0px; top: 0px; 
                position: absolute; background: rgba(0, 0, 0, 1.0); 
                   
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-3 {width: fit-content; height: fit-content; white-space: nowrap;  left: 94px; top: 17px; position: absolute; text-align: left; color: #ffffff; font-size: 12.0px; font-family: Inter; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-4 {width: fit-content; height: fit-content; white-space: nowrap;  left: 213px; top: 17px; position: absolute; text-align: left; color: #ffffff; font-size: 12.0px; font-family: Inter; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-5 {width: fit-content; height: fit-content; white-space: nowrap;  left: 1734px; top: 18px; position: absolute; text-align: left; color: #ffffff; font-size: 12.0px; font-family: Inter; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-6 {width: 1920px;
            height: 63px;
            left: 0px;
            top: 50px;
            position: absolute;
            background: transparent;
            border: none;}
.class-7 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-8 {width: 1920.0px; height: 63.0px; 
                left: 0px; top: 0px; 
                position: absolute; background: rgba(62, 255, 192, 1.0); 
                   
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-9 {width: fit-content; height: fit-content; white-space: nowrap;  left: 393px; top: 23px; position: absolute; text-align: left; color: #000000; font-size: 18.0px; font-family: Inter; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-10 {width: fit-content; height: fit-content; white-space: nowrap;  left: 602px; top: 23px; position: absolute; text-align: left; color: #000000; font-size: 18.0px; font-family: Inter; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-11 {width: 143.0px; height: 63.0px; 
                left: 179px; top: 0px; 
                position: absolute; background: rgba(232, 252, 250, 1.0); 
                   
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-12 {width: fit-content; height: fit-content; white-space: nowrap;  left: 213px; top: 23px; position: absolute; text-align: left; color: #000000; font-size: 18.0px; font-family: Inter; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-13 {width: fit-content; height: fit-content; white-space: nowrap;  left: 121px; top: 138px; position: absolute; text-align: left; color: #000000; font-size: 24.0px; font-family: Poppins; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-14 {width: 829.0px; height: 55.0px; 
                left: 128px; top: 229px; 
                position: absolute; background: rgba(255, 255, 255, 1.0); 
                 border-radius: 8.0px;  
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-15 {width: 255.0px; height: 55.0px; 
                left: 128px; top: 229px; 
                position: absolute; background: rgba(195, 233, 234, 1.0); 
                 border-radius: 10.0px;  
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-16 {width: 193.0px; height: 57.0px; 
                left: 975px; top: 227px; 
                position: absolute; background: rgba(82, 193, 206, 1.0); 
                 border-radius: 10.0px;  
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-17 {width: fit-content; height: fit-content; white-space: nowrap;  left: 157px; top: 241px; position: absolute; text-align: left; color: #000000; font-size: 20.0px; font-family: Poppins; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-18 {width: fit-content; height: fit-content; white-space: nowrap;  left: 1032px; top: 243px; position: absolute; text-align: left; color: #000000; font-size: 20.0px; font-family: Poppins; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-19 {width: fit-content; height: fit-content; white-space: nowrap;  left: 1186px; top: 238px; position: absolute; text-align: left; color: #0019ff; font-size: 12.0px; font-family: Poppins; font-weight: 400; letter-spacing: -0.24px; text-transform: none;}
.class-20 {width: fit-content; height: fit-content; white-space: nowrap;  left: 1709px; top: 254px; position: absolute; text-align: left; color: #0019ff; font-size: 12.0px; font-family: Poppins; font-weight: 500; letter-spacing: -0.24px; text-transform: none;}
.class-21 {width: fit-content; height: fit-content; white-space: nowrap;  left: 423px; top: 240px; position: absolute; text-align: left; color: #000000; font-size: 20.0px; font-family: Poppins; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-22 {position: absolute; left: 339px; top: 247px; width: 19.99999949141602px; height: 16.000003655803994px; transform: rotate(3.1415925661670165rad);}
.class-23 {position: absolute; left: 920px; top: 250px; width: 19.99999949141602px; height: 16.000003655803994px; transform: rotate(3.1415925661670165rad);}
.class-24 {width: fit-content; height: fit-content; white-space: nowrap;  left: 867px; top: 251px; position: absolute; text-align: left; color: #000000; font-size: 12.0px; font-family: Inter; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-25 {position: absolute;
        left: 849px;
        top: 226.5px;
        width: 1.0px;
        height: 57.0px;
        background-color: rgba(159, 159, 159, 1.0);
        transform-origin: CENTER;}
.class-26 {width: 1636.0px; height: 687.0px; 
                left: 131px; top: 317px; 
                position: absolute; background: rgb(233, 17, 17); 
                 border-radius: 7.0px;  
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-27 {position: absolute;
        left: 178.5px;
        top: 371px;
        width: 1.0px;
        height: 1.9999987430589954px;
        background-color: rgba(0, 0, 0, 1.0);
        transform-origin: CENTER;}
.class-28 {width: fit-content; height: fit-content; white-space: nowrap;  left: 155px; top: 392px; position: absolute; text-align: left; color: #000000; font-size: 24.0px; font-family: Poppins; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-29 {width: 1547.0px; height: 53.0px; 
                left: 155px; top: 445px; 
                position: absolute; background: rgba(165, 218, 234, 1.0); 
                   
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-30 {width: 1547.0px; height: 53.0px; 
                left: 154px; top: 498px; 
                position: absolute; background: rgba(255, 255, 255, 1.0); 
                   
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-31 {width: 1547.0px; height: 53.0px; 
                left: 154px; top: 554px; 
                position: absolute; background: rgba(237, 248, 252, 1.0); 
                   
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-32 {width: 1547.0px; height: 53.0px; 
                left: 154px; top: 610px; 
                position: absolute; background: rgba(255, 255, 255, 0.5); 
                   
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-33 {width: 1547.0px; height: 53.0px; 
                left: 154px; top: 666px; 
                position: absolute; background: rgba(237, 248, 252, 1.0); 
                   
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-34 {width: 1547.0px; height: 53.0px; 
                left: 154px; top: 722px; 
                position: absolute; background: rgba(255, 255, 255, 0.5); 
                   
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-35 {width: 1547.0px; height: 53.0px; 
                left: 154px; top: 778px; 
                position: absolute; background: rgba(237, 248, 252, 1.0); 
                   
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-36 {width: 1547.0px; height: 53.0px; 
                left: 154px; top: 831px; 
                position: absolute; background: rgba(255, 255, 255, 0.5); 
                   
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-37 {width: 1547.0px; height: 53.0px; 
                left: 154px; top: 884px; 
                position: absolute; background: rgba(237, 248, 252, 1.0); 
                   
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-38 {width: 1547.0px; height: 53.0px; 
                left: 154px; top: 937px; 
                position: absolute; background: rgba(255, 255, 255, 0.5); 
                   
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-39 {width: fit-content; height: fit-content; white-space: nowrap;  left: 328px; top: 331px; position: absolute; text-align: left; color: #000000; font-size: 20.0px; font-family: Poppins; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-40 {width: fit-content; height: fit-content; white-space: nowrap;  left: 179px; top: 331px; position: absolute; text-align: left; color: #000000; font-size: 20.0px; font-family: Poppins; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-41 {width: fit-content; height: fit-content; white-space: nowrap;  left: 531px; top: 331px; position: absolute; text-align: left; color: #000000; font-size: 20.0px; font-family: Poppins; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-42 {width: fit-content; height: fit-content; white-space: nowrap;  left: 788px; top: 331px; position: absolute; text-align: left; color: #000000; font-size: 20.0px; font-family: Poppins; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-43 {width: fit-content; height: fit-content; white-space: nowrap;  left: 928px; top: 331px; position: absolute; text-align: left; color: #000000; font-size: 20.0px; font-family: Poppins; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-44 {width: fit-content; height: fit-content; white-space: nowrap;  left: 1173px; top: 331px; position: absolute; text-align: left; color: #000000; font-size: 20.0px; font-family: Poppins; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-45 {width: fit-content; height: fit-content; white-space: nowrap;  left: 1436px; top: 331px; position: absolute; text-align: left; color: #000000; font-size: 20.0px; font-family: Poppins; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-46 {width: 107.0px; height: 4.0px; left: 179px; top: 372px; position: absolute}
.class-47 {width: fit-content; height: fit-content; white-space: nowrap;  left: 231px; top: 457px; position: absolute; text-align: left; color: #000000; font-size: 20.0px; font-family: Poppins; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-48 {width: fit-content; height: fit-content; white-space: nowrap;  left: 229px; top: 515px; position: absolute; text-align: left; color: #000000; font-size: 16.0px; font-family: Poppins; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-49 {width: fit-content; height: fit-content; white-space: nowrap;  left: 229px; top: 567px; position: absolute; text-align: left; color: #000000; font-size: 16.0px; font-family: Poppins; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-50 {width: fit-content; height: fit-content; white-space: nowrap;  left: 229px; top: 618px; position: absolute; text-align: left; color: #000000; font-size: 16.0px; font-family: Poppins; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-51 {width: fit-content; height: fit-content; white-space: nowrap;  left: 229px; top: 677px; position: absolute; text-align: left; color: #000000; font-size: 16.0px; font-family: Poppins; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-52 {width: fit-content; height: fit-content; white-space: nowrap;  left: 231px; top: 735px; position: absolute; text-align: left; color: #000000; font-size: 16.0px; font-family: Poppins; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-53 {width: fit-content; height: fit-content; white-space: nowrap;  left: 231px; top: 790px; position: absolute; text-align: left; color: #000000; font-size: 16.0px; font-family: Poppins; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-54 {width: fit-content; height: fit-content; white-space: nowrap;  left: 231px; top: 843px; position: absolute; text-align: left; color: #000000; font-size: 16.0px; font-family: Poppins; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-55 {width: fit-content; height: fit-content; white-space: nowrap;  left: 231px; top: 894px; position: absolute; text-align: left; color: #000000; font-size: 16.0px; font-family: Poppins; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-56 {width: fit-content; height: fit-content; white-space: nowrap;  left: 231px; top: 948px; position: absolute; text-align: left; color: #000000; font-size: 16.0px; font-family: Poppins; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-57 {width: fit-content; height: fit-content; white-space: nowrap;  left: 854px; top: 457px; position: absolute; text-align: left; color: #000000; font-size: 20.0px; font-family: Poppins; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-58 {width: fit-content; height: fit-content; white-space: nowrap;  left: 1503px; top: 457px; position: absolute; text-align: left; color: #000000; font-size: 20.0px; font-family: Poppins; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-59 {width: fit-content; height: fit-content; white-space: nowrap;  left: 814px; top: 511px; position: absolute; text-align: left; color: #000000; font-size: 20.0px; font-family: Poppins; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-60 {width: fit-content; height: fit-content; white-space: nowrap;  left: 1455px; top: 512px; position: absolute; text-align: left; color: #000000; font-size: 20.0px; font-family: Poppins; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-61 {width: fit-content; height: fit-content; white-space: nowrap;  left: 1455px; top: 736px; position: absolute; text-align: left; color: #000000; font-size: 20.0px; font-family: Poppins; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-62 {width: fit-content; height: fit-content; white-space: nowrap;  left: 1455px; top: 563px; position: absolute; text-align: left; color: #000000; font-size: 20.0px; font-family: Poppins; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-63 {width: fit-content; height: fit-content; white-space: nowrap;  left: 1455px; top: 792px; position: absolute; text-align: left; color: #000000; font-size: 20.0px; font-family: Poppins; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-64 {width: fit-content; height: fit-content; white-space: nowrap;  left: 1455px; top: 623px; position: absolute; text-align: left; color: #000000; font-size: 20.0px; font-family: Poppins; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-65 {width: fit-content; height: fit-content; white-space: nowrap;  left: 1455px; top: 843px; position: absolute; text-align: left; color: #000000; font-size: 20.0px; font-family: Poppins; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-66 {width: fit-content; height: fit-content; white-space: nowrap;  left: 1455px; top: 677px; position: absolute; text-align: left; color: #000000; font-size: 20.0px; font-family: Poppins; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-67 {width: fit-content; height: fit-content; white-space: nowrap;  left: 1455px; top: 895px; position: absolute; text-align: left; color: #000000; font-size: 20.0px; font-family: Poppins; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-68 {width: fit-content; height: fit-content; white-space: nowrap;  left: 1455px; top: 949px; position: absolute; text-align: left; color: #000000; font-size: 20.0px; font-family: Poppins; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-69 {width: fit-content; height: fit-content; white-space: nowrap;  left: 814px; top: 564px; position: absolute; text-align: left; color: #000000; font-size: 20.0px; font-family: Poppins; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-70 {width: fit-content; height: fit-content; white-space: nowrap;  left: 814px; top: 622px; position: absolute; text-align: left; color: #000000; font-size: 20.0px; font-family: Poppins; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-71 {width: fit-content; height: fit-content; white-space: nowrap;  left: 814px; top: 678px; position: absolute; text-align: left; color: #000000; font-size: 20.0px; font-family: Poppins; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-72 {width: fit-content; height: fit-content; white-space: nowrap;  left: 814px; top: 731px; position: absolute; text-align: left; color: #000000; font-size: 20.0px; font-family: Poppins; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-73 {width: fit-content; height: fit-content; white-space: nowrap;  left: 814px; top: 790px; position: absolute; text-align: left; color: #000000; font-size: 20.0px; font-family: Poppins; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-74 {width: fit-content; height: fit-content; white-space: nowrap;  left: 814px; top: 843px; position: absolute; text-align: left; color: #000000; font-size: 20.0px; font-family: Poppins; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-75 {width: fit-content; height: fit-content; white-space: nowrap;  left: 814px; top: 895px; position: absolute; text-align: left; color: #000000; font-size: 20.0px; font-family: Poppins; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-76 {width: fit-content; height: fit-content; white-space: nowrap;  left: 814px; top: 948px; position: absolute; text-align: left; color: #000000; font-size: 20.0px; font-family: Poppins; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
