.class-0 {width: 1920.0px; height: 1147.0px; position: relative; background: rgba(245, 245, 245, 1.0)}
.class-1 {width: 1917.0px; height: 48.0px; background-color: white; position: absolute; left: 3px; top: 1099px;}
.class-2 {position: absolute; left: 0px; top: 0px; width: 1917.0px; height: 48.0px; background-color: rgba(39, 80, 155, 1.0); border: none;;}
.class-3 {color: rgba(255, 255, 255, 1.0); font-size: 14.0px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; position: absolute; left: 866px; top: 11px; width: 184.0px;}
.class-4 {width: 176.0px; height: 954.0px; background-color: white; position: absolute; left: 11px; top: 78px;}
.class-5 {position: absolute; left: 0px; top: 0px; width: 176.0px; height: 954.0px; background-color: rgba(238, 238, 238, 1.0); border: none;;}
.class-6 {position: absolute; left: 23px; top: 31px; width: 126.99998474121094px; height: 20.000001907348633px;}
.class-7 {position: absolute; left: 0px; top: 0px; width: 20.001384735107422px; height: 20.000001907348633px;}
.class-8 {position: absolute; left: 0px; top: 0px; width: 20.001384735107422px; height: 20.000001907348633px;}
.class-9 {color: rgba(39, 80, 155, 1.0); font-size: 14.0px; font-family: Noto Sans; font-weight: 600; letter-spacing: 0.0px; position: absolute; left: 30px; top: 0px; width: 97.0px;}
.class-10 {position: absolute; left: 18px; top: 83px; width: 141.5px; height: 24.0px;}
.class-11 {font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; line-height: 24.0px; color: rgba(0, 0, 0, 1.0); width: 100%; height: 100%; appearance: none; cursor: pointer; padding: 0 0px 0 24px; background-color: transparent; border-color: transparent;}
.class-12 {
                                        left: 0px;
                                        top: 5px;
                                        width: 16.0px;
                                        height: 14.5038423538208px;
                                        pointer-events: none;
                                    }
.class-13 {width: 16.0px; height: 14.5px; left: 0px; top: 5px; position: absolute}
.class-14 {
                                        left: 134px;
                                        top: 6px;
                                        width: 7.0px;
                                        height: 13.206521034240723px;
                                        pointer-events: none;
                                    }
.class-15 {width: 7.0px; height: 13.21px; left: 134px; top: 6px; position: absolute}
.class-16 {position: absolute; left: 0px; top: 139px; width: 176.0px; height: 36.0px;}
.class-17 {background-color: rgba(212, 231, 250, 1.0); border: none;; font-size: 14.0px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; line-height: 24.0px; color: rgba(39, 80, 155, 1.0); width: 100%; height: 100%; appearance: none; cursor: pointer; padding: 0 0px 0 41px;}
.class-18 {
                                        left: 18px;
                                        top: 9px;
                                        width: 15.225603103637695px;
                                        height: 17.610366821289062px;
                                        pointer-events: none;
                                    }
.class-19 {width: 15.23px; height: 17.61px; left: 18px; top: 9px; position: absolute}
.class-20 {
                                        left: 146px;
                                        top: 11px;
                                        width: 6.659459590911865px;
                                        height: 13.206521034240723px;
                                        pointer-events: none;
                                    }
.class-21 {width: 6.66px; height: 13.21px; left: 146px; top: 11px; position: absolute}
.class-22 {position: absolute; left: 18px; top: 207px; width: 141.5048828125px; height: 24.0px;}
.class-23 {font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; line-height: 24.0px; color: rgba(0, 0, 0, 1.0); width: 100%; height: 100%; appearance: none; cursor: pointer; padding: 0 0px 0 24px; background-color: transparent; border-color: transparent;}
.class-24 {
                                        left: 0px;
                                        top: 3px;
                                        width: 16.0px;
                                        height: 17.61228370666504px;
                                        pointer-events: none;
                                    }
.class-25 {width: 16.0px; height: 17.61px; left: 0px; top: 3px; position: absolute}
.class-26 {
                                        left: 135px;
                                        top: 6px;
                                        width: 7.0px;
                                        height: 13.206521034240723px;
                                        pointer-events: none;
                                    }
.class-27 {width: 7.0px; height: 13.21px; left: 135px; top: 6px; position: absolute}
.class-28 {position: absolute; left: 17px; top: 263px; width: 141.5px; height: 24.0px;}
.class-29 {font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; line-height: 24.0px; color: rgba(0, 0, 0, 1.0); width: 100%; height: 100%; appearance: none; cursor: pointer; padding: 0 0px 0 24px; background-color: transparent; border-color: transparent;}
.class-30 {
                                        left: 0px;
                                        top: 3px;
                                        width: 16.00348663330078px;
                                        height: 17.61228370666504px;
                                        pointer-events: none;
                                    }
.class-31 {width: 16.0px; height: 17.61px; left: 0px; top: 3px; position: absolute}
.class-32 {
                                        left: 134px;
                                        top: 5px;
                                        width: 7.0px;
                                        height: 13.206521034240723px;
                                        pointer-events: none;
                                    }
.class-33 {width: 7.0px; height: 13.21px; left: 134px; top: 5px; position: absolute}
.class-34 {position: absolute; left: 18px; top: 319px; width: 140.539306640625px; height: 24.0px;}
.class-35 {font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; line-height: 24.0px; color: rgba(0, 0, 0, 1.0); width: 100%; height: 100%; appearance: none; cursor: pointer; padding: 0 0px 0 24px; background-color: transparent; border-color: transparent;}
.class-36 {
                                        left: 0px;
                                        top: 3px;
                                        width: 14.0px;
                                        height: 17.6119384765625px;
                                        pointer-events: none;
                                    }
.class-37 {width: 14.0px; height: 17.61px; left: 0px; top: 3px; position: absolute}
.class-38 {
                                        left: 134px;
                                        top: 5px;
                                        width: 7.0px;
                                        height: 13.206521034240723px;
                                        pointer-events: none;
                                    }
.class-39 {width: 7.0px; height: 13.21px; left: 134px; top: 5px; position: absolute}
.class-40 {position: absolute; left: 18px; top: 375px; width: 141.5px; height: 24.0px;}
.class-41 {font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; line-height: 24.0px; color: rgba(0, 0, 0, 1.0); width: 100%; height: 100%; appearance: none; cursor: pointer; padding: 0 0px 0 24px; background-color: transparent; border-color: transparent;}
.class-42 {
                                        left: 0px;
                                        top: 3px;
                                        width: 16.003393173217773px;
                                        height: 17.61228370666504px;
                                        pointer-events: none;
                                    }
.class-43 {width: 16.0px; height: 17.61px; left: 0px; top: 3px; position: absolute}
.class-44 {
                                        left: 134px;
                                        top: 6px;
                                        width: 7.0px;
                                        height: 13.206521034240723px;
                                        pointer-events: none;
                                    }
.class-45 {width: 7.0px; height: 13.21px; left: 134px; top: 6px; position: absolute}
.class-46 {position: absolute; left: 18px; top: 893px; width: 133.0px; height: 24.0px;}
.class-47 {position: absolute; left: 0px; top: 5px; width: 16.0px; height: 16.0px;}
.class-48 {position: absolute; left: 0px; top: 0px; width: 16.0px; height: 16.0px; background-color: rgba(217, 217, 217, 1.0); border: none;;}
.class-49 {position: absolute; left: 0px; top: 3px; width: 16.0px; height: 10.54498291015625px;}
.class-50 {color: rgba(0, 0, 0, 1.0); font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; position: absolute; left: 27px; top: 0px; width: 106.0px;}
.class-51 {width: 1601.0px; height: 960.0px; position: absolute; left: 217px; top: 117px;}
.class-52 {position: absolute; left: 0px; top: 0px; width: 248.0px; height: 20.0px;}
.class-53 {position: absolute; left: 36px; top: 3px; width: 7.0px; height: 13.206521034240723px;}
.class-54 {position: absolute; left: 119px; top: 3px; width: 7.0px; height: 13.206521034240723px;}
.class-55 {color: rgba(0, 0, 0, 1.0); font-size: 14.0px; font-family: Noto Sans; font-weight: 500; letter-spacing: 0.0px; position: absolute; left: 48px; top: 0px; width: 66.0px;}
.class-56 {color: rgba(39, 80, 155, 1.0); font-size: 14.0px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; position: absolute; left: 131px; top: 0px; width: 117.0px;}
.class-57 {position: absolute; left: 0px; top: 2px; width: 31.0px; height: 16.0px;}
.class-58 {position: absolute; left: 0px; top: 0px; width: 31.0px; height: 16.0px; background-color: rgba(39, 80, 155, 1.0); border: none;; border-radius: 3.0px;}
.class-59 {position: absolute; left: 8px; top: 0px; width: 16.0px; height: 15.965361595153809px;}
.class-60 {color: rgba(0, 0, 0, 1.0); font-size: 36.0px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; position: absolute; left: 0px; top: 47px; width: 288.0px;}
.class-61 {position: absolute; left: 24px; top: 108px; width: 740.0px; height: 26.0px;}
.class-62 {position: absolute; left: 110px; top: 3px; width: 87.0px; height: 20.0px;}
.class-63 {font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; line-height: 20.0px; color: rgba(0, 0, 0, 1.0); width: 100%; height: 100%; cursor: pointer; border: none; display: flex; align-items: center; justify-content: center; padding: 0 0px 0 0px;}
.class-64 {position: absolute; left: 212px; top: 3px; width: 54.0px; height: 20.0px;}
.class-65 {font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; line-height: 20.0px; color: rgba(0, 0, 0, 1.0); width: 100%; height: 100%; cursor: pointer; border: none; display: flex; align-items: center; justify-content: center; padding: 0 0px 0 0px;}
.class-66 {position: absolute; left: 556px; top: 1px; width: 184.0px; height: 24.0px;}
.class-67 {color: rgba(0, 0, 0, 1.0); font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; position: absolute; left: 0px; top: 0px; width: 184.0px;}
.class-68 {position: absolute; left: 0px; top: 3px; width: 80.0px; height: 20.0px;}
.class-69 {font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; line-height: 20.0px; color: rgba(0, 0, 0, 1.0); width: 100%; height: 100%; cursor: pointer; border: none; display: flex; align-items: center; justify-content: center; padding: 0 0px 0 0px;}
.class-70 {position: absolute; left: 296px; top: 0px; width: 230.0px; height: 26.0px;}
.class-71 {background-color: rgba(212, 231, 250, 1.0); font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; line-height: 24.0px; color: rgba(39, 80, 155, 1.0); width: 100%; height: 100%; cursor: pointer; border: none; display: flex; align-items: center; justify-content: center; padding: 0 0px 0 12px;}
.class-72 {position: absolute; left: 0px; top: 149px; width: 1601.0px; height: 811.0px; background-color: rgba(255, 255, 255, 1.0); border: none;;}
.class-73 {color: rgba(0, 0, 0, 1.0); font-size: 32.0px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; position: absolute; left: 24px; top: 171px; width: 495.0px;}
.class-74 {position: absolute; left: 24px; top: 355px; width: 184.0px; height: 27.0px;}
.class-75 {color: rgba(0, 0, 0, 1.0); font-size: 18.0px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; position: absolute; left: 24px; top: 0px; width: 160.0px;}
.class-76 {position: absolute; left: 0px; top: 5px; width: 16.00354766845703px; height: 15.410748481750488px;}
.class-77 {position: absolute; left: 24px; top: 727px; width: 289.0px; height: 27.0px;}
.class-78 {color: rgba(0, 0, 0, 1.0); font-size: 18.0px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; position: absolute; left: 24px; top: 0px; width: 265.0px;}
.class-79 {position: absolute; left: 0px; top: 5px; width: 16.00354766845703px; height: 15.410748481750488px;}
.class-80 {background: rgba(160, 160, 160, 1.0); position: absolute; left: 24px; top: 389px; width: 1569.0px; height: 1.0px;}
.class-81 {background: rgba(160, 160, 160, 1.0); position: absolute; left: 24px; top: 761px; width: 1569.0px; height: 1.0px;}
.class-82 {position: absolute; left: 1425px; top: 251px; width: 123.0px; height: 48.0px;}
.class-83 {background-color: rgba(39, 80, 155, 1.0); border-radius: 7.0px; font-size: 16.0px; font-family: Noto Sans; font-weight: 500; letter-spacing: 0.0px; line-height: 24.0px; color: rgba(255, 255, 255, 1.0); width: 100%; height: 100%; cursor: pointer; border: none; display: flex; align-items: center; justify-content: center; padding: 0 0px 0 52px;}
.class-84 {
                                        left: 29px;
                                        top: 16px;
                                        width: 16.0px;
                                        height: 16.0px;
                                        pointer-events: none;
                                    }
.class-85 {width: 16.0px; height: 16.0px; left: 29px; top: 16px; position: absolute}
.class-86 {position: absolute; left: 22px; top: 497px; width: 328.0px; height: 79.0px;}
.class-87 {color: rgba(0, 0, 0, 1.0); font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; position: absolute; left: 0px; top: 0px; width: 34.0px;}
.class-88 {position: absolute; left: 0px; top: 31px; width: 328.0px; height: 48.0px;}
.class-89 {border: 1.0px solid rgba(0, 0, 0, 1.0); border-radius: 8.0px; font-size: 14.0px; font-family: Noto Sans; font-weight: 300; letter-spacing: 0.0px; line-height: 24.0px; color: rgba(165, 165, 165, 1.0); border: 1.0px solid rgba(0, 0, 0, 1.0); width: 100%; height: 100%; padding: 0 12px;}
.class-90 {position: absolute; left: 24px; top: 598px; width: 328.0px; height: 79.0px;}
.class-91 {color: rgba(0, 0, 0, 1.0); font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; position: absolute; left: 0px; top: 0px; width: 141.0px;}
.class-92 {position: absolute; left: 0px; top: 31px; width: 328.0px; height: 48.0px;}
.class-93 {border: 1.0px solid rgba(0, 0, 0, 1.0); border-radius: 8.0px; font-size: 14.0px; font-family: Noto Sans; font-weight: 300; letter-spacing: 0.0px; line-height: 24.0px; color: rgba(165, 165, 165, 1.0); border: 1.0px solid rgba(0, 0, 0, 1.0); width: 100%; height: 100%; padding: 0 12px;}
.class-94 {position: absolute; left: 22px; top: 817px; width: 328.0px; height: 79.0px;}
.class-95 {color: rgba(0, 0, 0, 1.0); font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; position: absolute; left: 0px; top: 0px; width: 169.0px;}
.class-96 {position: absolute; left: 0px; top: 31px; width: 328.0px; height: 48.0px;}
.class-97 {border: 1.0px solid rgba(0, 0, 0, 1.0); border-radius: 8.0px; font-size: 14.0px; font-family: Noto Sans; font-weight: 300; letter-spacing: 0.0px; line-height: 24.0px; color: rgba(165, 165, 165, 1.0); border: 1.0px solid rgba(0, 0, 0, 1.0); width: 100%; height: 100%; padding: 0 12px;}
.class-98 {position: absolute; left: 420px; top: 398px; width: 328.0px; height: 79.0px;}
.class-99 {color: rgba(0, 0, 0, 1.0); font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; position: absolute; left: 0px; top: 0px; width: 75.0px;}
.class-100 {position: absolute; left: 0px; top: 31px; width: 328.0px; height: 48.0px;}
.class-101 {border: 1.0px solid rgba(0, 0, 0, 1.0); border-radius: 8.0px; font-size: 14.0px; font-family: Noto Sans; font-weight: 300; letter-spacing: 0.0px; line-height: 24.0px; color: rgba(165, 165, 165, 1.0); border: 1.0px solid rgba(0, 0, 0, 1.0); width: 100%; height: 100%; padding: 0 12px;}
.class-102 {position: absolute; left: 420px; top: 497px; width: 328.0px; height: 79.0px;}
.class-103 {color: rgba(0, 0, 0, 1.0); font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; position: absolute; left: 0px; top: 0px; width: 108.0px;}
.class-104 {position: absolute; left: 0px; top: 31px; width: 328.0px; height: 48.0px;}
.class-105 {border: 1.0px solid rgba(0, 0, 0, 1.0); border-radius: 8.0px; font-size: 14.0px; font-family: Noto Sans; font-weight: 300; letter-spacing: 0.0px; line-height: 24.0px; color: rgba(165, 165, 165, 1.0); border: 1.0px solid rgba(0, 0, 0, 1.0); width: 100%; height: 100%; padding: 0 12px;}
.class-106 {position: absolute; left: 422px; top: 598px; width: 328.0px; height: 79.0px;}
.class-107 {color: rgba(0, 0, 0, 1.0); font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; position: absolute; left: 0px; top: 0px; width: 161.0px;}
.class-108 {position: absolute; left: 0px; top: 31px; width: 328.0px; height: 48.0px;}
.class-109 {border: 1.0px solid rgba(0, 0, 0, 1.0); border-radius: 8.0px; font-size: 14.0px; font-family: Noto Sans; font-weight: 300; letter-spacing: 0.0px; line-height: 24.0px; color: rgba(165, 165, 165, 1.0); border: 1.0px solid rgba(0, 0, 0, 1.0); width: 100%; height: 100%; padding: 0 12px;}
.class-110 {position: absolute; left: 818px; top: 398px; width: 328.0px; height: 79.0px;}
.class-111 {color: rgba(0, 0, 0, 1.0); font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; position: absolute; left: 0px; top: 0px; width: 53.0px;}
.class-112 {position: absolute; left: 0px; top: 31px; width: 328.0px; height: 48.0px;}
.class-113 {border: 1.0px solid rgba(0, 0, 0, 1.0); border-radius: 8.0px; font-size: 14.0px; font-family: Noto Sans; font-weight: 300; letter-spacing: 0.0px; line-height: 24.0px; color: rgba(165, 165, 165, 1.0); border: 1.0px solid rgba(0, 0, 0, 1.0); width: 100%; height: 100%; padding: 0 12px;}
.class-114 {position: absolute; left: 818px; top: 497px; width: 328.0px; height: 79.0px;}
.class-115 {color: rgba(0, 0, 0, 1.0); font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; position: absolute; left: 0px; top: 0px; width: 96.0px;}
.class-116 {position: absolute; left: 0px; top: 31px; width: 328.0px; height: 48.0px;}
.class-117 {border: 1.0px solid rgba(0, 0, 0, 1.0); border-radius: 8.0px; font-size: 14.0px; font-family: Noto Sans; font-weight: 300; letter-spacing: 0.0px; line-height: 24.0px; color: rgba(165, 165, 165, 1.0); border: 1.0px solid rgba(0, 0, 0, 1.0); width: 100%; height: 100%; padding: 0 12px;}
.class-118 {position: absolute; left: 422px; top: 817px; width: 328.0px; height: 79.0px;}
.class-119 {color: rgba(0, 0, 0, 1.0); font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; position: absolute; left: 0px; top: 0px; width: 153.0px;}
.class-120 {position: absolute; left: 0px; top: 31px; width: 328.0px; height: 48.0px;}
.class-121 {border: 1.0px solid rgba(0, 0, 0, 1.0); border-radius: 8.0px; font-size: 14.0px; font-family: Noto Sans; font-weight: 300; letter-spacing: 0.0px; line-height: 24.0px; color: rgba(165, 165, 165, 1.0); border: 1.0px solid rgba(0, 0, 0, 1.0); width: 100%; height: 100%; padding: 0 12px;}
.class-122 {position: absolute; left: 1216px; top: 398px; width: 328.0px; height: 79.0px;}
.class-123 {color: rgba(0, 0, 0, 1.0); font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; position: absolute; left: 0px; top: 0px; width: 25.0px;}
.class-124 {position: absolute; left: 0px; top: 31px; width: 328.0px; height: 48.0px;}
.class-125 {border: 1.0px solid rgba(0, 0, 0, 1.0); border-radius: 8.0px; font-size: 14.0px; font-family: Noto Sans; font-weight: 300; letter-spacing: 0.0px; line-height: 24.0px; color: rgba(165, 165, 165, 1.0); border: 1.0px solid rgba(0, 0, 0, 1.0); width: 100%; height: 100%; padding: 0 12px;}
.class-126 {position: absolute; left: 1216px; top: 497px; width: 328.0px; height: 79.0px;}
.class-127 {color: rgba(0, 0, 0, 1.0); font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; position: absolute; left: 0px; top: 0px; width: 72.0px;}
.class-128 {position: absolute; left: 0px; top: 31px; width: 328.0px; height: 48.0px;}
.class-129 {border: 1.0px solid rgba(0, 0, 0, 1.0); border-radius: 8.0px; font-size: 14.0px; font-family: Noto Sans; font-weight: 300; letter-spacing: 0.0px; line-height: 24.0px; color: rgba(165, 165, 165, 1.0); border: 1.0px solid rgba(0, 0, 0, 1.0); width: 100%; height: 100%; padding: 0 12px;}
.class-130 {position: absolute; left: 822px; top: 817px; width: 328.0px; height: 79.0px;}
.class-131 {color: rgba(0, 0, 0, 1.0); font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; position: absolute; left: 0px; top: 0px; width: 60.0px;}
.class-132 {position: absolute; left: 0px; top: 31px; width: 328.0px; height: 48.0px;}
.class-133 {border: 1.0px solid rgba(0, 0, 0, 1.0); border-radius: 8.0px; font-size: 14.0px; font-family: Noto Sans; font-weight: 300; letter-spacing: 0.0px; line-height: 24.0px; color: rgba(165, 165, 165, 1.0); border: 1.0px solid rgba(0, 0, 0, 1.0); width: 100%; height: 100%; padding: 0 12px;}
.class-134 {position: absolute; left: 22px; top: 389px; width: 328.0px; height: 84.0px;}
.class-135 {color: rgba(183, 28, 28, 1.0); font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; position: absolute; left: 32px; top: 0px; width: 8.0px;}
.class-136 {color: rgba(0, 0, 0, 1.0); font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; position: absolute; left: 0px; top: 5px; width: 32.0px;}
.class-137 {position: absolute; left: 0px; top: 36px; width: 328.0px; height: 48.0px;}
.class-138 {border: 1.0px solid rgba(0, 0, 0, 1.0); border-radius: 8.0px; font-size: 14.0px; font-family: Noto Sans; font-weight: 300; letter-spacing: 0.0px; line-height: 24.0px; color: rgba(165, 165, 165, 1.0); border: 1.0px solid rgba(0, 0, 0, 1.0); width: 100%; height: 100%; padding: 0 12px;}
.class-139 {position: absolute; left: 1238px; top: 252px; width: 162.0px; height: 48.0px;}
.class-140 {background-color: rgba(39, 80, 155, 1.0); border-radius: 7.0px; font-size: 16.0px; font-family: Noto Sans; font-weight: 500; letter-spacing: 0.0px; line-height: 24.0px; color: rgba(255, 255, 255, 1.0); width: 100%; height: 100%; cursor: pointer; border: none; display: flex; align-items: center; justify-content: center; padding: 0 0px 0 39px;}
.class-141 {
                                        left: 20px;
                                        top: 15px;
                                        width: 15.367424964904785px;
                                        height: 16.0px;
                                        pointer-events: none;
                                    }
.class-142 {width: 15.37px; height: 16.0px; left: 20px; top: 15px; position: absolute}
.class-143 {color: rgba(183, 28, 28, 1.0); font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; position: absolute; left: 159px; top: 277px; width: 8.0px;}
.class-144 {position: absolute; left: 31px; top: 282px; width: 183.0px; height: 24.0px;}
.class-145 {color: rgba(0, 0, 0, 1.0); font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; position: absolute; left: 0px; top: 0px; width: 128.0px;}
.class-146 {position: absolute; left: 142px; top: 5px; width: 41.0px; height: 19.0px; display: flex; align-items: center;}
.class-147 {display: flex; align-items: center; cursor: pointer;}
.class-148 {position: relative; display: inline-block;}
.class-149 {opacity: 0; width: 100%; height: 100%; position: absolute;}
.class-150 {
                                                display: inline-block;
                                                width: 41.0px;
                                                height: 19.0px;
                                                position: relative;
                                                transition: background-color 0.2s;
                                                background-color: rgba(0, 120, 255, 1);
                                                background-color: rgba(39, 80, 155, 1.0); border-radius: 10.5px;
                                            }
.class-151 {
                                                position: absolute;
                                                top: 1.0px;
                                                left: 22.0px;
                                                width: 17.0px;
                                                height: 17.0px;
                                                border-radius: 50%;
                                                transition: left 0.2s;
                                                background-color: rgba(255, 255, 255, 1.0);
                                            }
.class-152 {position: absolute; left: 1234px; top: 183px; width: 146.0px; height: 48.0px;}
.class-153 {background-color: rgba(252, 229, 0, 1.0); border-radius: 8.0px; font-size: 16.0px; font-family: Noto Sans; font-weight: 500; letter-spacing: 0.0px; line-height: 24.0px; color: rgba(0, 0, 0, 1.0); width: 100%; height: 100%; cursor: pointer; border: none; display: flex; align-items: center; justify-content: center; padding: 0 0px 0 38px;}
.class-154 {position: absolute; left: 13px; top: 19px; 
                                                        width: 16.0px; height: 10.984527587890625px; pointer-events: none;}
.class-155 {width: 1920.0px; height: 82.0px; background-color: white; position: absolute; left: 0px; top: 0px;}
.class-156 {position: absolute; left: 0px; top: 0px; width: 1920.0px; height: 81.0px; background-color: rgba(39, 80, 155, 1.0); border: none;;}
.class-157 {color: rgba(255, 255, 255, 1.0); font-size: 28.0px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; position: absolute; left: 298px; top: 31px; width: 100.0px;}
.class-158 {color: rgba(255, 255, 255, 1.0); font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; position: absolute; left: 1716px; top: 16px; width: 33.0px;}
.class-159 {color: rgba(255, 255, 255, 1.0); font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; position: absolute; left: 1696px; top: 46px; width: 53.0px;}
.class-160 {position: absolute; left: 66px; top: 21px; width: 218.0px; height: 38.0px;}
.class-161 {position: absolute; left: 6px; top: 0px; width: 87.99995422363281px; height: 35.14951705932617px;}
.class-162 {position: absolute; left: 50px; top: 21px; width: 10.999992370605469px; height: 12.824825286865234px;}
.class-163 {position: absolute; left: 54px; top: 20px; width: 9.999992370605469px; height: 11.399845123291016px;}
.class-164 {position: absolute; left: 59px; top: 17px; width: 11.999996185302734px; height: 11.874837875366211px;}
.class-165 {position: absolute; left: 9px; top: 29px; width: 6.999997138977051px; height: 6.174917221069336px;}
.class-166 {position: absolute; left: 14px; top: 1px; width: 30.999980926513672px; height: 33.72454071044922px;}
.class-167 {position: absolute; left: 44px; top: 21px; width: 9.999996185302734px; height: 14.249809265136719px;}
.class-168 {position: absolute; left: 64px; top: 6px; width: 28.999984741210938px; height: 18.52475357055664px;}
.class-169 {position: absolute; left: 26px; top: 7px; width: 11.999994277954102px; height: 11.399845123291016px;}
.class-170 {position: absolute; left: 91px; top: 16px; width: 126.99995422363281px; height: 12.349834442138672px;}
.class-171 {position: absolute; left: 0px; top: 35px; width: 210.49990844726562px; height: 2.8499603271484375px;}
.class-172 {position: absolute; left: 1553px; top: 27px; width: 24.0px; height: 26.418426513671875px;}
.class-173 {position: absolute; left: 0px; top: 0px; width: 24.0px; height: 26.418426513671875px;}
.class-174 {position: absolute; left: 1603px; top: 28px; width: 67.0px; height: 27.0px;}
.class-175 {color: rgba(255, 255, 255, 1.0); font-size: 18.0px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; position: absolute; left: 0px; top: 0px; width: 22.0px;}
.class-176 {background: rgba(255, 255, 255, 1.0); position: absolute; left: 30px; top: 0px; width: 1.0px; height: 25.0px;}
.class-177 {position: absolute; left: 38px; top: -1px; width: 29.0px; height: 27.0px; background-color: rgba(212, 231, 250, 1.0); border: 1.0px solid rgba(154, 189, 255, 1.0);; border-radius: 3.0px;}
.class-178 {color: rgba(39, 80, 155, 1.0); font-size: 18.0px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; position: absolute; left: 40px; top: 0px; width: 25.0px;}
.class-179 {position: absolute; left: 781px; top: 13px; width: 359.0px; height: 55.0px;}
.class-180 {background-color: rgba(39, 80, 155, 1.0); border: 1.0px solid rgba(245, 245, 245, 1.0);; border-radius: 10.0px; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; line-height: 24.0px; color: rgba(178, 178, 178, 1.0); border: 1.0px solid rgba(245, 245, 245, 1.0); width: 100%; height: 100%; cursor: pointer; display: flex; align-items: center; justify-content: center; padding: 0 0px 0 33px;}
.class-181 {position: absolute; left: 309px; top: 19px; 
                                                        width: 15.983381271362305px; height: 15.995424270629883px; pointer-events: none;}
.class-182 {position: absolute; left: 1874px; top: 34px; width: 23.475982666015625px; height: 24.0px;}
.class-183 {position: absolute; left: 0px; top: 0px; width: 23.475982666015625px; height: 24.0px;}
.class-184 {position: absolute; left: 1786px; top: 9px; width: 73.0px; height: 73.0px;}
.class-185 {position: absolute; left: 0px; top: 0px; width: 73.0px; height: 73.0px; background-image: url('images/a_e8fdc0bf53ba428e881ca55ba21c2078bc6481f7.jpg'); background-size: cover; background-position: center; border: none;;}
