.class-0 {width: 1920.0px; height: 1147.0px; position: relative; background: rgba(245, 245, 245, 1.0)}
.class-1 {width: 248px;
            height: 20px;
            left: 217px;
            top: 117px;
            position: absolute;
            background: transparent;
            border: none;}
.class-2 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-3 {width: 7.0px; height: 13.21px; left: 36px; top: 3px; position: absolute}
.class-4 {width: 7.0px; height: 13.21px; left: 119px; top: 3px; position: absolute}
.class-5 {width: fit-content; height: fit-content; white-space: nowrap;  left: 48px; top: 0px; position: absolute; text-align: left; color: #000000; font-size: 14.0px; font-family: Noto Sans; font-weight: 500; letter-spacing: 0.0px; text-transform: none;}
.class-6 {width: 117.0px; height: fit-content; white-space: normal;  left: 131px; top: 0px; position: absolute; text-align: left; color: #27509b; font-size: 14.0px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; text-transform: none;}
.class-7 {width: 31px;
            height: 16px;
            left: 0px;
            top: 2px;
            position: absolute;
            background: transparent;
            border: none;}
.class-8 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-9 {width: 31.0px; height: 16.0px; 
                left: 0px; top: 0px; 
                position: absolute; background: rgba(39, 80, 155, 1.0); 
                 border-radius: 3.0px;  
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-10 {width: 16.0px; height: 15.97px; left: 8px; top: 0px; position: absolute}
.class-11 {width: fit-content; height: fit-content; white-space: nowrap;  left: 217px; top: 164px; position: absolute; text-align: left; color: #000000; font-size: 36.0px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; text-transform: none;}
.class-12 {width: fit-content; height: fit-content; white-space: nowrap;  left: 241px; top: 228px; position: absolute; text-align: left; color: #000000; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-13 {width: 130px; height: 26px; left: 343px; top: 225px; position: absolute; background: rgba(212, 231, 250, 1.0); outline: none; color: rgba(0, 0, 0, 1.0);; border: none; cursor: pointer; display: flex; align-items: center; justify-content: center; overflow: visible; border: none;; border: none;; font-size: 14.0px;; font-family: Noto Sans;; font-weight: 400;; letter-spacing: 0.0px;; line-height: 20.0px;;}
.class-14 {width: fit-content; height: fit-content; white-space: nowrap;  left: 495px; top: 226px; position: absolute; text-align: left; color: #000000; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-15 {width: 123px; height: 48px; left: 1646px; top: 150px; position: absolute; background: rgba(39, 80, 155, 1.0); outline: none; color: rgba(255, 255, 255, 1.0);; border: none; cursor: pointer; display: flex; align-items: center; justify-content: center; overflow: visible; border: none;; border-radius: 7px;; border: none;; font-size: 16.0px;; font-family: Noto Sans;; font-weight: 500;; letter-spacing: 0.0px;; line-height: 24.0px;;}
.class-16 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    pointer-events: none;
                    top: 0;
                    left: 0;
                }
.class-17 {
                                position: absolute;
                                left: 32px;
                                top: 16px;
                                width: 16px;
                                height: 16px;
                                
                                pointer-events: none;
                            }
.class-18 {background: rgba(39, 80, 155, 1.0); width: 1920.0px; height: 81.0px; position: absolute; left: 0px; top: 0px; display: flex; align-items: center; justify-content: space-between;}
.class-19 {
                            position: absolute;
                            left: 1781px;
                            top: 8px;
                            width: 65px;
                            height: 65px;
                        }
.class-20 {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
.class-21 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    pointer-events: none;
                    top: 0;
                    left: 0;
                }
.class-22 {
                                position: absolute;
                                left: 62.5px;
                                top: 22px;
                                width: 87.99995422363281px;
                                height: 35.14951705932617px;
                            }
.class-23 {
                                position: absolute;
                                left: 105.4998779296875px;
                                top: 42.9000244140625px;
                                width: 10.999992370605469px;
                                height: 12.824825286865234px;
                            }
.class-24 {
                                position: absolute;
                                left: 110.5px;
                                top: 41.9493408203125px;
                                width: 9.999992370605469px;
                                height: 11.399845123291016px;
                            }
.class-25 {
                                position: absolute;
                                left: 114.99951171875px;
                                top: 38.6241455078125px;
                                width: 11.999996185302734px;
                                height: 11.874837875366211px;
                            }
.class-26 {
                                position: absolute;
                                left: 64.500244140625px;
                                top: 50.9749755859375px;
                                width: 6.999997138977051px;
                                height: 6.174917221069336px;
                            }
.class-27 {
                                position: absolute;
                                left: 70.499755859375px;
                                top: 23.4249267578125px;
                                width: 30.999980926513672px;
                                height: 33.72454071044922px;
                            }
.class-28 {
                                position: absolute;
                                left: 99.99951171875px;
                                top: 42.9000244140625px;
                                width: 9.999996185302734px;
                                height: 14.249809265136719px;
                            }
.class-29 {
                                position: absolute;
                                left: 119.9996337890625px;
                                top: 28.1749267578125px;
                                width: 28.999984741210938px;
                                height: 18.52475357055664px;
                            }
.class-30 {
                                position: absolute;
                                left: 81.50048828125px;
                                top: 28.6502685546875px;
                                width: 11.999994277954102px;
                                height: 11.399845123291016px;
                            }
.class-31 {
                                position: absolute;
                                left: 147.0001220703125px;
                                top: 38.1502685546875px;
                                width: 126.99995422363281px;
                                height: 12.349834442138672px;
                            }
.class-32 {
                                position: absolute;
                                left: 56px;
                                top: 57.150146484375px;
                                width: 210.49990844726562px;
                                height: 2.8499603271484375px;
                            }
.class-33 {
                                position: absolute;
                                left: 1554px;
                                top: 31.371826171875px;
                                width: 24px;
                                height: 26.418426513671875px;
                            }
.class-34 {
                                position: absolute;
                                left: 1864px;
                                top: 31.371826171875px;
                                width: 23.475982666015625px;
                                height: 26.418426513671875px;
                            }
.class-35 {color: rgba(255, 255, 255, 1.0); font-size: 28.0px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; position: absolute; left: 298px; top: 31px}
.class-36 {position: relative; width: 100%; height: 100%;}
.class-37 {color: rgba(255, 255, 255, 1.0); font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; position: absolute; left: 1698px; top: 46px;; text-decoration: none;}
.class-38 {color: rgba(255, 255, 255, 1.0); font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; position: absolute; left: 1718px; top: 16px;; text-decoration: none;}
.class-39 {width: 63px;
            height: 28px;
            left: 1600px;
            top: 28px;
            position: absolute;
            background: transparent;
            border: none;}
.class-40 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-41 {position: absolute;
        left: 32px;
        top: -0.5px;
        width: 1.0px;
        height: 25.0px;
        background-color: rgba(255, 255, 255, 1.0);
        transform-origin: CENTER;}
.class-42 {width: fit-content; height: fit-content; white-space: nowrap;  left: 0px; top: 3px; position: absolute; text-align: left; color: #ffffff; font-size: 18.0px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; text-transform: none;}
.class-43 {width: fit-content; height: fit-content; white-space: nowrap;  left: 38px; top: 3px; position: absolute; text-align: left; color: #ffffff; font-size: 18.0px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; text-transform: none;}
.class-44 {position: absolute;
            width: 359px;
            height: 55px;
            left: 775px;
            top: 13px;}
.class-45 {width: 359px; height: 55px; position: absolute; left: 0; top: 0; background: transparent; outline: none; color: rgba(178, 178, 178, 1.0);; border: none; border: none;; font-size: 14.0px;; font-family: Noto Sans;; font-weight: 400;; letter-spacing: 0.0px;; line-height: 24.0px;; border-radius: 10px;; border: 1.0px solid rgba(214, 214, 214, 1.0);;}
.class-46 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    pointer-events: none;
                    top: 0;
                    left: 0;
                }
.class-47 {
                                position: absolute;
                                left: 314.0166015625px;
                                top: 20.0023193359375px;
                                width: 15.983381271362305px;
                                height: 15.995424270629883px;
                            }
.class-48 {width: 1920px; height: 53px; left: 0px; top: 1088px; position: relative; background-color: rgba(39, 80, 155, 1.0)}
.class-49 {color: rgba(255, 255, 255, 1.0); position: absolute; left: 868px; top: 11px; width: 184px; height: 25px; font-size: 14.0px; font-family: Noto Sans; font-weight: 700; text-align: center}
.class-50 {width: 1601.0px; height: 811.0px; 
                left: 217px; top: 262px; 
                position: absolute; background: rgba(255, 255, 255, 1.0); 
                   
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-51 {width: 16.531005859375px; height: 16.531005859375px; left: 834px; top: 386px; position: absolute; appearance: none; -webkit-appearance: none; -moz-appearance: none; background: rgba(255, 255, 255, 1.0); outline: none; cursor: pointer; border-radius: 50%; padding: 0; margin: 0; border: 1.0px solid rgba(39, 80, 155, 1.0);transition: all 0.2s ease-in-out; &:checked::after { content: ''; display: none; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 10.791072845458984px; height: 10.791072845458984px; background: rgba(39, 80, 155, 1.0); border-radius: 50%; border: 1.0px solid rgba(39, 80, 155, 1.0); }; &:checked::after { display: block; }}
.class-52 {width: 16.531005859375px; height: 16.531005859375px; left: 934px; top: 386px; position: absolute; appearance: none; -webkit-appearance: none; -moz-appearance: none; background: rgba(255, 255, 255, 1.0); outline: none; cursor: pointer; border-radius: 50%; padding: 0; margin: 0; border: 1.0px solid rgba(39, 80, 155, 1.0);transition: all 0.2s ease-in-out; &:checked { background: rgba(255, 255, 255, 1.0); border: 1.0px solid rgba(39, 80, 155, 1.0); }}
.class-53 {width: fit-content; height: fit-content; white-space: nowrap;  left: 245px; top: 286px; position: absolute; text-align: left; color: #000000; font-size: 32.0px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; text-transform: none;}
.class-54 {width: 8.0px; height: 23.7px; white-space: normal;  left: 716px; top: 823px; position: absolute; text-align: left; color: #b71c1c; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-55 {width: 8.0px; height: 23.7px; white-space: normal;  left: 1495px; top: 571px; position: absolute; text-align: left; color: #b71c1c; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-56 {position: absolute; width: 323px; height: 51px; left: 245px; top: 364px;}
.class-57 {position: relative; background: transparent; color: rgba(133, 133, 133, 1.0);; border: none;; font-size: 14.0px;; font-family: Noto Sans;; font-weight: 400;; letter-spacing: 0.0px;; line-height: 24.0px;; font-size: 14.0px;; font-family: Noto Sans;; font-weight: 500;; letter-spacing: 0.0px;; line-height: 24.0px;; appearance: none;; cursor: pointer;; padding: 0 20px 0 20px;; width: 100%;; height: 100%;;}
.class-58 {position: absolute;
        left: -0.3499999940395355px;
        top: 51.0px;
        width: 323.0px;
        height: 0.699999988079071px;
        background-color: rgba(0, 0, 0, 1.0);
        transform-origin: CENTER;}
.class-59 {width: fit-content; height: fit-content; white-space: nowrap;  left: 704px; top: 382px; position: absolute; text-align: center; color: #000000; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-60 {width: fit-content; height: fit-content; white-space: nowrap;  left: 269px; top: 459px; position: absolute; text-align: center; color: #000000; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-61 {width: 177px; height: 48px; left: 1384px; top: 369px; position: absolute; background: rgba(252, 229, 0, 1.0); outline: none; color: rgba(0, 0, 0, 1.0);; border: none; cursor: pointer; display: flex; align-items: center; justify-content: center; overflow: visible; border: none;; border-radius: 8px;; border: none;; font-size: 16.0px;; font-family: Noto Sans;; font-weight: 500;; letter-spacing: 0.0px;; line-height: 24.0px;;}
.class-62 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    pointer-events: none;
                    top: 0;
                    left: 0;
                }
.class-63 {
                                position: absolute;
                                left: 14px;
                                top: 16px;
                                width: 16px;
                                height: 16px;
                                
                                pointer-events: none;
                            }
.class-64 {width: 177px; height: 48px; left: 1167px; top: 371px; position: absolute; background: rgba(39, 80, 155, 1.0); outline: none; color: rgba(255, 255, 255, 1.0);; border: none; cursor: pointer; display: flex; align-items: center; justify-content: center; overflow: visible; border: none;; border-radius: 8px;; border: none;; font-size: 16.0px;; font-family: Noto Sans;; font-weight: 500;; letter-spacing: 0.0px;; line-height: 24.0px;;}
.class-65 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    pointer-events: none;
                    top: 0;
                    left: 0;
                }
.class-66 {
                                position: absolute;
                                left: 17px;
                                top: 19px;
                                width: 16px;
                                height: 10.984619140625px;
                                
                                pointer-events: none;
                            }
.class-67 {width: 16.0px; height: 16.0px; left: 245px; top: 463px; position: absolute}
.class-68 {width: fit-content; height: fit-content; white-space: nowrap;  left: 953px; top: 382px; position: absolute; text-align: center; color: #000000; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-69 {width: fit-content; height: fit-content; white-space: nowrap;  left: 852px; top: 382px; position: absolute; text-align: center; color: #000000; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-70 {width: 199px;
            height: 1007px;
            left: 0px;
            top: 81px;
            position: absolute;
            background: rgba(255, 255, 255, 1.0);
            box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2); border: 0.5px solid rgba(220, 221, 222, 1.0);}
.class-71 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-72 {width: 199px;
            height: 56px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: rgba(255, 255, 255, 1.0);
            border: none;}
.class-73 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-74 {width: fit-content; height: fit-content; white-space: nowrap;  left: 16px; top: 19px; position: absolute; text-align: left; color: #000000; font-size: 16.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-75 {width: 199px;
            height: 56px;
            left: 0px;
            top: 56px;
            position: absolute;
            background: rgba(39, 80, 155, 1.0);
            border: none;}
.class-76 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-77 {width: fit-content; height: fit-content; white-space: nowrap;  left: 16px; top: 19px; position: absolute; text-align: left; color: #ffffff; font-size: 16.0px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; text-transform: none;}
