<div class="Add_User style-1" id="92:829">
    <div class="Rectangle398939 style-2" id="92:830">
    </div>
    <div class="Group_1000000971 style-3" id="92:831">
    <div class="Bg-color style-4" id="92:832">
    </div>
    </div>
    <div class="Rectangle398937 style-5" id="92:833">
    </div>
    <img class="CGI_logo.svg(1)1 style-6" id="92:834" src="../../assets/images/a_322fc3889a9ffb9988f181411fab01ed6a41a168.jpg"/>
    <div class="Admin style-7" id="92:835">
    <div class="User style-8" id="92:836">
                                User</div>
    <img class="Ellipse585 style-9" id="92:837" src="../../assets/images/a_4005ebe9033ad300378b00576e9bce5f794c8dfe.jpg"/>
    </div>
    <div class="Rectangle2878 style-10" id="92:838">
    </div>
    <div class="Menu style-11" id="92:839">
                            Menu</div>
    <div class="Listuser style-12" (click)="navigateTo('/list')"id="92:840">
                            List user</div>
    <div class="Deleteuser style-13" (click)="navigateTo('/delete_user')"  id="92:841">
                            Delete user</div>
    <div class="Rectangle398938 style-14" id="92:842">
    </div>
    <div class="AddUser style-15" id="92:843">
                            Add User</div>
    <div class="Updateuser style-16" id="92:844">
    <div class="Updateuser style-17"(click)="navigateTo('/update_user')" id="92:845">
                                Update user</div>
    </div>
    <img class="user-sync style-18" id="92:846" src="../../assets/images/a_0d80f7cbc2b12f4651a3516721904b5aa7287923.jpg"/>
    <img class="add-user style-19" id="92:847" src="../../assets/images/a_db101f421afb411a69c40cf766dc7e19ee902519.jpg"/>
    <img class="delete style-20" id="92:848" src="../../assets/images/a_a76104db8b3747ba32f65e348d7b4f099faf31f3.jpg"/>
    <img class="contact(1)1 style-21" id="92:849" src="../../assets/images/a_fcc68919f3a4b3ffd8fe9699385c1cc07c17ed73.jpg"/>
    <img class="bellicon(1)1 style-22" id="92:850" src="../../assets/images/a_b561c28c4ff2b562d8c96e024843eb0a87a78041.jpg"/>
    <!-- Updated User Form with ngModel bindings -->
    <div class="Name style-23" id="92:851">
        <span class="style-24">Name</span> <span class="style-25">*</span>
    </div>
    <input class="style-35" id="92:855" 
           placeholder="Please enter name here" 
           type="text"
           [(ngModel)]="userData.name"/>
    
    <div class="DOB style-26" id="92:852">
        <span class="style-27">DOB</span> <span class="style-28">*</span>
    </div>
    <input class="style-36" id="92:856" 
           type="date"
           [(ngModel)]="userData.dob"/>
    
    <div class="PhoneNo style-29" id="92:853">
        <span class="style-30">Phone No</span> <span class="style-31">*</span>
    </div>
    <input class="style-37" id="92:858" 
           placeholder="Please enter Phone no here" 
           type="tel"
           [(ngModel)]="userData.phone"/>
    
    <div class="Email style-32" id="92:854">
        <span class="style-33">Email</span> <span class="style-34">*</span>
    </div>
    <input class="style-38" id="92:860" 
           placeholder="Please enter email id here" 
           type="email"
           [(ngModel)]="userData.email"/>
    
    <button class="style-39" id="92:864" (click)="saveUser()">Save</button>
    
    <!-- Logout Button -->
    <div class="Logoutadbtngrp style-40" id="65:1817">
        <button class="Logoutadbtngrp style-41" id="65:1818" routerLink="/login">Logout</button>
    
    <div class="Group1000000974 style-42" id="65:1819">
        <img class="logout(1)1 style-43" id="65:1821" src="../../assets/images/a_e504e91842d0d6ad6298ddafa2551bb53a6f86f2.jpg"/>
    </div>
    </div>
</div>