.class-0 {width: 1819.0px; height: 1919.0px; position: relative; background: rgba(0, 0, 0, 0.0)}
.class-1 {width: 1819.0px; height: 1919.0px; 
                left: 0px; top: 0px; 
                position: absolute; background: rgba(255, 255, 255, 1.0); 
                   
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-2 {width: 1351px; height: 400px; left: 0px; top: 110px; position: relative; background-color: rgba(255, 255, 255, 1.0)}
.class-3 {
                            position: absolute;
                            left: 110.046875px;
                            top: 202px;
                            width: 104px;
                            height: 24px;
                        }
.class-4 {width: 104px;
            height: 24px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: transparent;
            border: none;}
.class-5 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-6 {width: 24px;
            height: 24px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: transparent;
            border: none;}
.class-7 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-8 {width: 20.0px; height: 19.95px; left: 2px; top: 2px; position: absolute}
.class-9 {width: 24px;
            height: 24px;
            left: 40px;
            top: 0px;
            position: absolute;
            background: transparent;
            border: none;}
.class-10 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-11 {width: 18.75px; height: 18.75px; left: 3px; top: 3px; position: absolute}
.class-12 {width: 18.75px; height: 18.75px; left: 3px; top: 3px; position: absolute}
.class-13 {width: 24px;
            height: 24px;
            left: 80px;
            top: 0px;
            position: absolute;
            background: transparent;
            border: none;}
.class-14 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-15 {width: 19.89px; height: 19.89px; left: 2px; top: 2px; position: absolute}
.class-16 {color: rgba(82, 82, 82, 1.0); position: absolute; left: 451px; top: 346px; width: 448px; height: 17px; font-size: 14.0px; font-family: Inter; font-weight: 400; text-align: center}
.class-17 {color: rgba(82, 82, 82, 1.0); position: absolute; left: 110px; top: 105px; width: 306.046875px; height: 73px; font-size: 14.0px; font-family: Inter; font-weight: 400; text-align: left}
.class-18 {color: rgba(30, 30, 30, 1.0); position: absolute; left: 652px; top: 34px; width: 136px; height: 24px; font-size: 20.0px; font-family: Inter; font-weight: 600; text-align: left}
.class-19 {color: rgba(30, 30, 30, 1.0); position: absolute; left: 1061px; top: 36px; width: 107px; height: 24px; font-size: 20.0px; font-family: Inter; font-weight: 600; text-align: left}
.class-20 {color: rgba(82, 82, 82, 1.0); position: absolute; left: 652px; top: 58px; width: 92px; height: 48px; font-size: 14.0px; font-family: Inter; font-weight: 400; text-align: left}
.class-21 {color: rgba(0, 0, 0, 1.0); position: absolute; left: 1076px; top: 100px; width: 48px; height: 17px; font-size: 14.0px; font-family: Inter; font-weight: 400; text-align: left}
.class-22 {color: rgba(82, 82, 82, 1.0); position: absolute; left: 1076.046875px; top: 124.875px; width: 199px; height: 48px; font-size: 14.0px; font-family: Inter; font-weight: 400; text-align: left}
.class-23 {color: rgba(82, 82, 82, 1.0); position: absolute; left: 652px; top: 109px; width: 108px; height: 48px; font-size: 14.0px; font-family: Inter; font-weight: 400; text-align: left}
.class-24 {color: rgba(82, 82, 82, 1.0); position: absolute; left: 1076.046875px; top: 172.875px; width: 199px; height: 48px; font-size: 14.0px; font-family: Inter; font-weight: 400; text-align: left}
.class-25 {color: rgba(82, 82, 82, 1.0); position: absolute; left: 652px; top: 160px; width: 92px; height: 48px; font-size: 14.0px; font-family: Inter; font-weight: 400; text-align: left}
.class-26 {color: rgba(0, 0, 0, 1.0); position: absolute; left: 110.046875px; top: 41px; width: 102px; height: 24px; font-size: 20.0px; font-family: Inter; font-weight: 600; text-align: left}
.class-27 {background: rgba(255, 255, 255, 1.0); width: 1440.0px; height: 69.00000762939453px; position: absolute; left: 190px; top: 591px; display: flex; align-items: center; justify-content: space-between; ;}
.class-28 {color: rgba(0, 0, 0, 1.0); font-size: 14.0px; font-family: Inter; font-weight: 500; letter-spacing: 0.0px; margin-left: 100px}
.class-29 {display: flex; align-items: center; position: relative;}
.class-30 {color: rgba(0, 163, 255, 1.0); font-size: 14.0px; font-family: Outfit; font-weight: 700; letter-spacing: 0.0px;; text-decoration: none; margin-right: 56px; position: relative}
.class-31 {background: rgba(0, 163, 255, 1.0); height: 2px; position: absolute; bottom: -4px; left: 0; width: 100%}
.class-32 {color: rgba(30, 30, 30, 1.0); font-size: 14.0px; font-family: Outfit; font-weight: 400; letter-spacing: 0.0px; opacity: 0.5;; text-decoration: none; margin-right: 56px; position: relative}
.class-33 {color: rgba(30, 30, 30, 1.0); font-size: 14.0px; font-family: Outfit; font-weight: 400; letter-spacing: 0.0px; opacity: 0.5;; text-decoration: none; margin-right: 56px; position: relative}
.class-34 {margin-right: 48px}
.class-35 {background: rgba(0, 163, 255, 1.0); border-radius: 3.0px; color: rgba(255, 255, 255, 1.0); font-size: 14.0px; font-family: Outfit; font-weight: 400; letter-spacing: 0.0px; width: 96.0px; height: 31.0px; cursor: pointer; border: none; display: flex; align-items: center; justify-content: center;}
.class-36 {width: 406.0px; height: 123.0001220703125px; position: absolute; top: 806.0px; left: 762.0px;}
.class-37 {width: 100%; border-collapse: collapse;}
.class-38 {border-bottom: 1px solid rgba(0,0,0,0.1); padding: 12.0px 12.0px 12.0px 12.0px; font-family: Inter; font-size: 14.0px; font-weight: 400; line-height: 16.94318199157715px; text-align: left; background-color: rgba(244, 240, 255, 1.0); color: rgba(0, 0, 0, 1.0);}
.class-39 {border-bottom: 1px solid rgba(0,0,0,0.1); padding: 12.0px 12.0px 12.0px 12.0px; font-family: Inter; font-size: 14.0px; font-weight: 400; line-height: 16.94318199157715px; text-align: left; background-color: rgba(244, 240, 255, 1.0); color: rgba(0, 0, 0, 1.0);}
.class-40 {border-bottom: 1px solid rgba(0,0,0,0.1); padding: 12.0px 12.0px 12.0px 12.0px; font-family: Inter; font-size: 14.0px; font-weight: 400; line-height: 16.94318199157715px; text-align: left; background-color: rgba(0, 0, 0, 0.0); color: rgba(0, 0, 0, 1.0);}
.class-41 {border-bottom: 1px solid rgba(0,0,0,0.1); padding: 12.0px 12.0px 12.0px 12.0px; font-family: Inter; font-size: 14.0px; font-weight: 400; line-height: 16.94318199157715px; text-align: left; background-color: rgba(0, 0, 0, 0.0); color: rgba(0, 0, 0, 1.0);}
.class-42 {border-bottom: 1px solid rgba(0,0,0,0.1); padding: 12.0px 12.0px 12.0px 12.0px; font-family: Inter; font-size: 14.0px; font-weight: 400; line-height: 16.94318199157715px; text-align: left; background-color: rgba(0, 0, 0, 0.0); color: rgba(0, 0, 0, 1.0);}
.class-43 {border-bottom: 1px solid rgba(0,0,0,0.1); padding: 12.0px 12.0px 12.0px 12.0px; font-family: Inter; font-size: 14.0px; font-weight: 400; line-height: 16.94318199157715px; text-align: left; background-color: rgba(0, 0, 0, 0.0); color: rgba(0, 0, 0, 1.0);}
.class-44 {width: 609.0px; height: 164.0px; position: absolute; top: 1059.0px; left: 628.0px;}
.class-45 {width: 100%; border-collapse: collapse;}
.class-46 {border-bottom: 1px solid rgba(0,0,0,0.1); padding: 12.0px 12.0px 12.0px 12.0px; font-family: Inter; font-size: 14.0px; font-weight: 400; line-height: 16.94318199157715px; text-align: left; background-color: rgba(244, 240, 255, 1.0); color: rgba(0, 0, 0, 1.0);}
.class-47 {border-bottom: 1px solid rgba(0,0,0,0.1); padding: 12.0px 12.0px 12.0px 12.0px; font-family: Inter; font-size: 14.0px; font-weight: 400; line-height: 16.94318199157715px; text-align: left; background-color: rgba(244, 240, 255, 1.0); color: rgba(0, 0, 0, 1.0);}
.class-48 {border-bottom: 1px solid rgba(0,0,0,0.1); padding: 12.0px 12.0px 12.0px 12.0px; font-family: Inter; font-size: 14.0px; font-weight: 400; line-height: 16.94318199157715px; text-align: left; background-color: rgba(244, 240, 255, 1.0); color: rgba(0, 0, 0, 1.0);}
.class-49 {border-bottom: 1px solid rgba(0,0,0,0.1); padding: 12.0px 12.0px 12.0px 12.0px; font-family: Inter; font-size: 14.0px; font-weight: 400; line-height: 16.94318199157715px; text-align: left; background-color: rgba(0, 0, 0, 0.0); color: rgba(0, 0, 0, 1.0);}
.class-50 {border-bottom: 1px solid rgba(0,0,0,0.1); padding: 12.0px 12.0px 12.0px 12.0px; font-family: Inter; font-size: 14.0px; font-weight: 400; line-height: 16.94318199157715px; text-align: left; background-color: rgba(0, 0, 0, 0.0); color: rgba(0, 0, 0, 1.0);}
.class-51 {border-bottom: 1px solid rgba(0,0,0,0.1); padding: 12.0px 12.0px 12.0px 12.0px; font-family: Inter; font-size: 14.0px; font-weight: 400; line-height: 16.94318199157715px; text-align: left; background-color: rgba(0, 0, 0, 0.0); color: rgba(0, 0, 0, 1.0);}
.class-52 {border-bottom: 1px solid rgba(0,0,0,0.1); padding: 12.0px 12.0px 12.0px 12.0px; font-family: Inter; font-size: 14.0px; font-weight: 400; line-height: 16.94318199157715px; text-align: left; background-color: rgba(0, 0, 0, 0.0); color: rgba(0, 0, 0, 1.0);}
.class-53 {border-bottom: 1px solid rgba(0,0,0,0.1); padding: 12.0px 12.0px 12.0px 12.0px; font-family: Inter; font-size: 14.0px; font-weight: 400; line-height: 16.94318199157715px; text-align: left; background-color: rgba(0, 0, 0, 0.0); color: rgba(0, 0, 0, 1.0);}
.class-54 {border-bottom: 1px solid rgba(0,0,0,0.1); padding: 12.0px 12.0px 12.0px 12.0px; font-family: Inter; font-size: 14.0px; font-weight: 400; line-height: 16.94318199157715px; text-align: left; background-color: rgba(0, 0, 0, 0.0); color: rgba(0, 0, 0, 1.0);}
.class-55 {border-bottom: 1px solid rgba(0,0,0,0.1); padding: 12.0px 12.0px 12.0px 12.0px; font-family: Inter; font-size: 14.0px; font-weight: 400; line-height: 16.94318199157715px; text-align: left; background-color: rgba(0, 0, 0, 0.0); color: rgba(0, 0, 0, 1.0);}
.class-56 {border-bottom: 1px solid rgba(0,0,0,0.1); padding: 12.0px 12.0px 12.0px 12.0px; font-family: Inter; font-size: 14.0px; font-weight: 400; line-height: 16.94318199157715px; text-align: left; background-color: rgba(0, 0, 0, 0.0); color: rgba(0, 0, 0, 1.0);}
.class-57 {border-bottom: 1px solid rgba(0,0,0,0.1); padding: 12.0px 12.0px 12.0px 12.0px; font-family: Inter; font-size: 14.0px; font-weight: 400; line-height: 16.94318199157715px; text-align: left; background-color: rgba(0, 0, 0, 0.0); color: rgba(0, 0, 0, 1.0);}
.class-58 {width: 609.0px; height: 164.0px; position: absolute; top: 1447.0px; left: 581.0px;}
.class-59 {width: 100%; border-collapse: collapse;}
.class-60 {border-bottom: 1px solid rgba(0,0,0,0.1); padding: 12.0px 12.0px 12.0px 12.0px; font-family: Inter; font-size: 14.0px; font-weight: 400; line-height: 16.94318199157715px; text-align: left;background-color: rgba(244, 240, 255, 1.0);; color: rgba(0, 0, 0, 1.0);}
.class-61 {border-bottom: 1px solid rgba(0,0,0,0.1); padding: 12.0px 12.0px 12.0px 12.0px; font-family: Inter; font-size: 14.0px; font-weight: 400; line-height: 16.94318199157715px; text-align: left;background-color: rgba(244, 240, 255, 1.0);; color: rgba(0, 0, 0, 1.0);}
.class-62 {border-bottom: 1px solid rgba(0,0,0,0.1); padding: 12.0px 12.0px 12.0px 12.0px; font-family: Inter; font-size: 14.0px; font-weight: 400; line-height: 16.94318199157715px; text-align: left;background-color: rgba(244, 240, 255, 1.0);; color: rgba(0, 0, 0, 1.0);}
.class-63 {border-bottom: 1px solid rgba(0,0,0,0.1); padding: 12.0px 12.0px 12.0px 12.0px; font-family: Inter; font-size: 14.0px; font-weight: 400; line-height: 16.94318199157715px; text-align: left; background-color: rgba(0, 0, 0, 0.0); color: rgba(0, 0, 0, 1.0);}
.class-64 {border-bottom: 1px solid rgba(0,0,0,0.1); padding: 12.0px 12.0px 12.0px 12.0px; font-family: Inter; font-size: 14.0px; font-weight: 400; line-height: 16.94318199157715px; text-align: left; background-color: rgba(0, 0, 0, 0.0); color: rgba(0, 0, 0, 1.0);}
.class-65 {border-bottom: 1px solid rgba(0,0,0,0.1); padding: 12.0px 12.0px 12.0px 12.0px; font-family: Inter; font-size: 14.0px; font-weight: 400; line-height: 16.94318199157715px; text-align: left; background-color: rgba(0, 0, 0, 0.0); color: rgba(0, 0, 0, 1.0);}
.class-66 {border-bottom: 1px solid rgba(0,0,0,0.1); padding: 12.0px 12.0px 12.0px 12.0px; font-family: Inter; font-size: 14.0px; font-weight: 400; line-height: 16.94318199157715px; text-align: left; background-color: rgba(0, 0, 0, 0.0); color: rgba(0, 0, 0, 1.0);}
.class-67 {border-bottom: 1px solid rgba(0,0,0,0.1); padding: 12.0px 12.0px 12.0px 12.0px; font-family: Inter; font-size: 14.0px; font-weight: 400; line-height: 16.94318199157715px; text-align: left; background-color: rgba(0, 0, 0, 0.0); color: rgba(0, 0, 0, 1.0);}
.class-68 {border-bottom: 1px solid rgba(0,0,0,0.1); padding: 12.0px 12.0px 12.0px 12.0px; font-family: Inter; font-size: 14.0px; font-weight: 400; line-height: 16.94318199157715px; text-align: left; background-color: rgba(0, 0, 0, 0.0); color: rgba(0, 0, 0, 1.0);}
.class-69 {border-bottom: 1px solid rgba(0,0,0,0.1); padding: 12.0px 12.0px 12.0px 12.0px; font-family: Inter; font-size: 14.0px; font-weight: 400; line-height: 16.94318199157715px; text-align: left; background-color: rgba(0, 0, 0, 0.0); color: rgba(0, 0, 0, 1.0);}
.class-70 {border-bottom: 1px solid rgba(0,0,0,0.1); padding: 12.0px 12.0px 12.0px 12.0px; font-family: Inter; font-size: 14.0px; font-weight: 400; line-height: 16.94318199157715px; text-align: left; background-color: rgba(0, 0, 0, 0.0); color: rgba(0, 0, 0, 1.0);}
.class-71 {border-bottom: 1px solid rgba(0,0,0,0.1); padding: 12.0px 12.0px 12.0px 12.0px; font-family: Inter; font-size: 14.0px; font-weight: 400; line-height: 16.94318199157715px; text-align: left; background-color: rgba(0, 0, 0, 0.0); color: rgba(0, 0, 0, 1.0);}
.class-72 {width: 250.0px; height: 330.0px; left: 1457.0px; top: 1143.0px; position: absolute; display: flex; flex-direction: column; align-items: center; gap: 20px; padding: 20px; background-color: #ffffff; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1)}
.class-73 {display: flex; align-items: center; gap: 10px; font-size: 20px; font-weight: bold;}
.class-74 {color: rgba(93, 114, 133, 1.0); font-size: 21.03896141052246px; font-family: Epilogue; font-weight: 600; text-align: left}
.class-75 {display: flex; flex-direction: column; width: 100%; gap: 15px;}
.class-76 {display: flex; align-items: center; justify-content: center; gap: 10px; padding: 12px 18px; border: none; cursor: pointer; font-size: 16px; font-weight: bold; width: 100%; text-align: left}
.class-77 {position: relative; display: inline-block; width: 24px; height: 24px; margin-right: 10px;}
.class-78 {position: absolute; left: 0px; top: 0px;}
.class-79 {color: rgba(93, 114, 133, 1.0); font-size: 14.635799407958984px; font-family: Poppins; font-weight: 400; text-align: left}
.class-80 {background-color: rgba(12, 127, 218, 1.0); border-radius: 4.0px; display: flex; align-items: center; justify-content: center; gap: 10px; padding: 12px 18px; border: none; cursor: pointer; font-size: 16px; font-weight: bold; width: 100%; text-align: left}
.class-81 {position: relative; display: inline-block; width: 24px; height: 24px; margin-right: 10px;}
.class-82 {position: absolute; left: 0px; top: 0px;}
.class-83 {color: rgba(255, 255, 255, 1.0); font-size: 14.635799407958984px; font-family: Poppins; font-weight: 600; text-align: left}
.class-84 {width: 64px; height: 64px; left: 219px; top: 882px; position: absolute; background: transparent; overflow: hidden; border: none;; border: none;;}
.class-85 {width: 100%; height: 100%; position: absolute; object-fit: cover; z-index: 1; border-radius: 50%;}
.class-86 {width: 126px; height: 37px; left: 207px; top: 1145px; position: absolute; background-color: rgba(0, 0, 0, 1.0); display: block; border: none;; border-radius: 5px;;}
.class-87 {position: relative; display: inline-block;}
.class-88 {
                            position: absolute;
                            left: 18px;
                            top: 6px;
                            width: 18px;
                            height: 22.12436294555664px;
                        }
.class-89 {
                            position: absolute;
                            left: 18px;
                            top: 6px;
                            width: 18px;
                            height: 22.12436294555664px;
                        }
.class-90 {
                        position: absolute;
                        left: 47px;
                        top: 6px;
                        font-family: Inter;
                        font-weight: 500;
                        font-size: 6.0px;
                        letter-spacing: 0.0px;
                        line-height: 7.261363506317139px;
                        color: rgba(255, 255, 255, 1.0);
                    }
.class-91 {
                        position: absolute;
                        left: 47px;
                        top: 16px;
                        font-family: Inter;
                        font-weight: 500;
                        font-size: 12.0px;
                        letter-spacing: 0.0px;
                        line-height: 14.522727012634277px;
                        color: rgba(255, 255, 255, 1.0);
                    }
