.class-0 {width: 1505.0px; height: 690.0px; position: relative; background: rgba(0, 0, 0, 0.0)}
.class-1 {width: 1505.0px; height: 592.0px; 
                left: 0px; top: 98px; 
                position: absolute; background: linear-gradient(219.59deg, rgba(110, 171, 54, 1.0) 0.0%, rgba(44, 69, 21, 1.0) 100.0%); 
                  
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-2 {width: 1505.0px; height: 88.0px; 
                left: 0px; top: 0px; 
                position: absolute; background: rgba(0, 132, 255, 1.0); 
                  
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-3 {width: 475px; height: 22px; left: 515px; top: 33px; position: absolute}
.class-4 {width: 48px; height: 22px; left: 0px; top: 0px; position: absolute; text-align: center; color: #ffffff; font-size: 18px; font-family: Lato; font-weight: 400; letter-spacing: -0.18px; text-transform: none;}
.class-5 {width: 109px; height: 22px; left: 132px; top: 0px; position: absolute; text-align: center; color: #ffffff; font-size: 18px; font-family: Lato; font-weight: 800; letter-spacing: -0.18px; text-transform: none;}
.class-6 {width: 131px; height: 22px; left: 344px; top: 0px; position: absolute; text-align: center; color: #ffffff; font-size: 18px; font-family: Lato; font-weight: 400; letter-spacing: -0.18px; text-transform: none;}
.class-7 {width: 1268px; height: 479px; left: 118px; top: 175px; position: absolute}
.class-8 {width: 1268px; height: 479px; left: 0px; top: 0px; position: absolute}
.class-9 {width: 1268.0px; height: 479.0px; 
                left: 0px; top: 0px; 
                position: absolute; background: rgba(255, 255, 255, 1.0); 
                 border-radius: 24.0px; box-shadow: 0.0px 4.0px 35.0px 0px rgba(0, 0, 0, 0.08);
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-10 {width: 137px; height: 19px; left: 336px; top: 106px; position: absolute}
.class-11 {width: 137px; height: 19px; left: 0px; top: 0px; position: absolute; text-align: left; font-size: 16px; letter-spacing: 0.0px; text-transform: none;}
.class-12 {color: #000000; font-family: Lato; font-weight: 400;}
.class-13 {color: #ff0000; font-family: Lato; font-weight: 400;}
.class-14 {width: 545px; height: 160px; left: 193px; top: 240px; position: absolute}
.class-15 {width: 545px; height: 160px; left: 0px; top: 0px; position: absolute}
.class-16 {width: 545.0px; height: 160.0px; 
                left: 0px; top: 0px; 
                position: absolute; background: rgba(255, 255, 255, 1.0); 
                  box-shadow: 0.0px 4.0px 35.0px 0px rgba(0, 0, 0, 0.08);
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-17 {width: 361px; height: 123px; left: 161px; top: 23px; position: absolute}
.class-18 {width: 154px; height: 24px; left: 0px; top: 0px; position: absolute; text-align: left; color: #000000; font-size: 20px; font-family: Lato; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-19 {width: 286px; height: 28px; left: 0px; top: 33px; position: absolute; text-align: left; color: #7f7f7f; font-size: 18px; font-family: Lato; font-weight: 500; letter-spacing: 0.0px; text-transform: none;}
.class-20 {width: 184px; height: 28px; left: 149px; top: 95px; position: absolute; text-align: left; color: #1f6cfe; font-size: 18px; font-family: Lato; font-weight: 500; letter-spacing: 0.0px; text-transform: none;}
.class-21 {width: 76px; height: 28px; left: 0px; top: 95px; position: absolute; text-align: left; color: #7f7f7f; font-size: 18px; font-family: Lato; font-weight: 500; letter-spacing: 0.0px; text-transform: none;}
.class-22 {width: 39.0px; height: 43.0px; 
                left: 322px; top: 8px; 
                position: absolute; object-fit: cover;}
.class-23 {width: 545px; height: 160px; left: 193px; top: 430px; position: absolute}
.class-24 {width: 545px; height: 160px; left: 0px; top: 0px; position: absolute}
.class-25 {width: 545.0px; height: 160.0px; 
                left: 0px; top: 0px; 
                position: absolute; background: rgba(255, 255, 255, 1.0); 
                  box-shadow: 0.0px 4.0px 35.0px 0px rgba(0, 0, 0, 0.08);
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-26 {width: 361px; height: 123px; left: 161px; top: 23px; position: absolute}
.class-27 {width: 170px; height: 24px; left: 0px; top: 0px; position: absolute; text-align: left; color: #000000; font-size: 20px; font-family: Lato; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-28 {width: 286px; height: 28px; left: 0px; top: 33px; position: absolute; text-align: left; color: #7f7f7f; font-size: 18px; font-family: Lato; font-weight: 500; letter-spacing: 0.0px; text-transform: none;}
.class-29 {width: 76px; height: 28px; left: 0px; top: 95px; position: absolute; text-align: left; color: #7f7f7f; font-size: 18px; font-family: Lato; font-weight: 500; letter-spacing: 0.0px; text-transform: none;}
.class-30 {width: 184px; height: 28px; left: 149px; top: 95px; position: absolute}
.class-31 {width: 184px; height: 28px; left: 0px; top: 0px; position: absolute; text-align: left; color: #1f6cfe; font-size: 18px; font-family: Lato; font-weight: 500; letter-spacing: 0.0px; text-transform: none;}
.class-32 {width: 39.0px; height: 43.0px; 
                left: 322px; top: 8px; 
                position: absolute; object-fit: cover;}
.class-33 {width: 545px; height: 160px; left: 775px; top: 240px; position: absolute}
.class-34 {width: 545px; height: 160px; left: 0px; top: 0px; position: absolute}
.class-35 {width: 545.0px; height: 160.0px; 
                left: 0px; top: 0px; 
                position: absolute; background: rgba(255, 255, 255, 1.0); 
                  box-shadow: 0.0px 4.0px 35.0px 0px rgba(0, 0, 0, 0.08);
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-36 {width: 361px; height: 123px; left: 161px; top: 23px; position: absolute}
.class-37 {width: 146px; height: 24px; left: 0px; top: 0px; position: absolute; text-align: left; color: #000000; font-size: 20px; font-family: Lato; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-38 {width: 286px; height: 28px; left: 0px; top: 33px; position: absolute; text-align: left; color: #7f7f7f; font-size: 18px; font-family: Lato; font-weight: 500; letter-spacing: 0.0px; text-transform: none;}
.class-39 {width: 184px; height: 28px; left: 149px; top: 95px; position: absolute; text-align: left; color: #1f6cfe; font-size: 18px; font-family: Lato; font-weight: 500; letter-spacing: 0.0px; text-transform: none;}
.class-40 {width: 76px; height: 28px; left: 0px; top: 95px; position: absolute; text-align: left; color: #7f7f7f; font-size: 18px; font-family: Lato; font-weight: 500; letter-spacing: 0.0px; text-transform: none;}
.class-41 {width: 39.0px; height: 43.0px; 
                left: 322px; top: 8px; 
                position: absolute; object-fit: cover;}
.class-42 {width: 545px; height: 160px; left: 775px; top: 430px; position: absolute}
.class-43 {width: 545px; height: 160px; left: 0px; top: 0px; position: absolute}
.class-44 {width: 545.0px; height: 160.0px; 
                left: 0px; top: 0px; 
                position: absolute; background: rgba(255, 255, 255, 1.0); 
                  box-shadow: 0.0px 4.0px 35.0px 0px rgba(0, 0, 0, 0.08);
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-45 {width: 361px; height: 123px; left: 161px; top: 23px; position: absolute}
.class-46 {width: 154px; height: 24px; left: 0px; top: 0px; position: absolute; text-align: left; color: #000000; font-size: 20px; font-family: Lato; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-47 {width: 286px; height: 28px; left: 0px; top: 33px; position: absolute; text-align: left; color: #7f7f7f; font-size: 18px; font-family: Lato; font-weight: 500; letter-spacing: 0.0px; text-transform: none;}
.class-48 {width: 76px; height: 28px; left: 0px; top: 95px; position: absolute; text-align: left; color: #7f7f7f; font-size: 18px; font-family: Lato; font-weight: 500; letter-spacing: 0.0px; text-transform: none;}
.class-49 {width: 184px; height: 28px; left: 149px; top: 95px; position: absolute}
.class-50 {width: 184px; height: 28px; left: 0px; top: 0px; position: absolute; text-align: left; color: #1f6cfe; font-size: 18px; font-family: Lato; font-weight: 500; letter-spacing: 0.0px; text-transform: none;}
.class-51 {width: 39.0px; height: 43.0px; 
                left: 322px; top: 8px; 
                position: absolute; object-fit: cover;}
.class-52 {width: 156px; height: 24px; left: 118px; top: 133px; position: absolute; text-align: left; color: #ffffff; font-size: 20px; font-family: Lato; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-53 {width: 24.0px; height: 24.0px; 
                left: 696px; top: 550px; 
                position: absolute; object-fit: cover;}
.class-54 {width: 24.0px; height: 24.0px; 
                left: 1273px; top: 358px; 
                position: absolute; object-fit: cover;}
.class-55 {width: 24.0px; height: 24.0px; 
                left: 1273px; top: 548px; 
                position: absolute; object-fit: cover;}
.class-56 {width: 24.0px; height: 24.0px; 
                left: 696px; top: 360px; 
                position: absolute; object-fit: cover;}
.class-57 {width: 101.0px; height: 114.0px; 
                left: 802px; top: 457px; 
                position: absolute; object-fit: cover;}
.class-58 {width: 101.0px; height: 114.0px; 
                left: 802px; top: 263px; 
                position: absolute; object-fit: cover;}
.class-59 {width: 101.0px; height: 114.0px; 
                left: 223px; top: 267px; 
                position: absolute; object-fit: cover;}
.class-60 {width: 101.0px; height: 114.0px; 
                left: 223px; top: 458px; 
                position: absolute; object-fit: cover;}
.class-61 {width: 147.0px; height: 63.0px; 
                left: 125px; top: 12px; 
                position: absolute; object-fit: cover;}
