.class-0 {width: 1505px; height: 690px; position: relative}
.class-1 {width: 1505px; height: 584px; left: 0px; top: 106px; position: absolute; background: white}
.class-2 {width: 1505px; height: 87px; left: 0px; top: 0px; position: absolute; background: #0084FF}
.class-3 {width: 199px; height: 53px; left: 125px; top: 17px; position: absolute; justify-content: center; align-items: center; display: inline-flex}
.class-4 {width: 147px; height: 63px;left: 125px;top: 12px;position: absolute;object-fit: cover;}
.class-5 {width: 49.64px; height: 478px; left: 838px; top: 159px; position: absolute; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)}
.class-6 {width: 449.64px; height: 478px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.08); border-radius: 40px}
.class-7 {width: 260px; height: 17px; left: 37px; top: 37px; position: absolute}
.class-8 {color: black; font-size: 14px; font-family: Lato; font-weight: 400; word-wrap: break-word}
.class-9 {color: #0084FF; font-size: 14px; font-family: Lato; font-weight: 600; word-wrap: break-word}
.class-10 {width: 81.02px; height: 30.27px; left: 341.90px; top: 41.85px; position: absolute}
.class-11 {color: #8D8D8D; font-size: 12px; font-family: Lato; font-weight: 400; word-wrap: break-word}
.class-12 {color: #0089ED; font-size: 12px; font-family: Lato; font-weight: 400; word-wrap: break-word}
.class-13 {width: 80.13px; height: 30.27px; left: 36.51px; top: 64.11px; position: absolute; color: black; font-size: 24px; font-family: Lato; font-weight: 500; word-wrap: break-word}
.class-14 {width: 376.23px; height: 46.72px; left: 36.71px; top: 110.12px; position: absolute}
.class-15 {width: 248.59px; height: 45.88px; left: 0px; top: 0.83px; position: absolute}
.class-16 {width: 248.59px; height: 45.88px; left: 0px; top: 0px; position: absolute; background: #E9F1FF; border-radius: 9px}
.class-17 {width: 159.38px; height: 19.59px; left: 65.69px; top: 12.81px; position: absolute; color: #4285F4; font-size: 16px; font-family: Lato; font-weight: 400; word-wrap: break-word}
.class-18 {width: 50.05px; height: 45.88px; left: 265.28px; top: 0.83px; position: absolute; background: #F6F6F6; border-radius: 9px}
.class-19 {width: 50.05px; height: 45.88px; left: 326.17px; top: -0px; position: absolute; background: #F6F6F6; border-radius: 9px}
.class-20 {width: 376.23px; height: 76.75px; left: 36.71px; top: 175.18px; position: absolute}
.class-21 {left: 0px; top: -1.67px; position: absolute}
.class-22 {color: black; font-size: 16px; font-family: Lato; font-weight: 400; word-wrap: break-word}
.class-23 {color: #FF0000; font-size: 16px; font-family: Lato; font-weight: 400; word-wrap: break-word}
.class-24 {color: black; font-size: 16px; font-family: Lato; font-weight: 400; word-wrap: break-word}
.class-25 {width: 376.23px; height: 47.55px; left: 0px; top: 29.20px; position: absolute; background: white; border-radius: 9px; border: 1px #4285F4 solid}
.class-26 {width: 376.23px; height: 76.75px; left: 36.71px; top: 275.29px; position: absolute}
.class-27 {left: 0px; top: -1.67px; position: absolute}
.class-28 {color: black; font-size: 16px; font-family: Lato; font-weight: 400; word-wrap: break-word}
.class-29 {color: #FF0606; font-size: 16px; font-family: Lato; font-weight: 400; word-wrap: break-word}
.class-30 {width: 376.23px; height: 47.55px; left: 0px; top: 29.20px; position: absolute; background: white; border-radius: 9px; border: 1px #ADADAD solid}
.class-31 {width: 114px; height: 17px; left: 306px; top: 370px; position: absolute; color: #4285F4; font-size: 13px; font-family: Lato; font-weight: 400; word-wrap: break-word}
.class-32 {width: 376px; height: 52px; left: 37px; top: 410px; position: absolute}
.class-33 {width: 376px; height: 52px; left: 0px; top: 0px; position: absolute; background: #0084FF; border-radius: 7px; border: none; cursor: pointer;}
.class-34 {left: 161px; top: 11px; position: absolute; color: white; font-size: 20px; font-family: Lato; font-weight: 500; word-wrap: break-word}
.class-35 {width: 24px; height: 24px; left: 58px; top: 124px; position: absolute}
.class-36 {width: 24px; height: 24px; left: 315px; top: 122px; position: absolute}
.class-37 {width: 24px; height: 24px; left: 376px; top: 121px; position: absolute}
.class-38 {width: 558px; height: 522px; left: 65px; top: 168px; position: absolute}
