<div class="customercamspecs">
  <div class="navigation-container">
    <div class="navigation-path">
      <div class="home-icon">
        <mat-icon svgIcon="home"></mat-icon>
      </div>
      <div class="customer">Customer</div>
      <mat-icon class="arrow-icon">chevron_right</mat-icon>
      <div class="customer-setup">Customer Setup</div>
      <mat-icon class="arrow-icon">chevron_right</mat-icon>
    </div>
  </div>

  <div class="language-selector">
    <div class="language-option">FR</div>
    <div class="language-divider"></div>
    <div class="language-option">EN</div>
  </div>

  <h1 class="page-title">Customer Setup</h1>
  
  <div class="tab-navigation">
    <div class="tab-item">Information</div>
    <button mat-flat-button class="tab-item active">CAM Specs</button>
    <div class="tab-item">Settings</div>
  </div>

  <button mat-flat-button color="primary" class="save-button">
    <mat-icon>save</mat-icon>
    Save
  </button>

  <mat-card class="main-content">
    <h2 class="section-title">Customer Asset Management</h2>
    
    <div class="form-content">
      <mat-form-field appearance="outline" class="dropdown-field">
        <mat-select placeholder="DEFAULT">
          <mat-option value="">DEFAULT</mat-option>
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2">Option 2</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="repair-limits-container">
        <div class="radio-option">
          <mat-radio-button value="lifetime">Lifetime</mat-radio-button>
        </div>
        <div class="radio-option">
          <mat-radio-button value="perRetread">Per Retread</mat-radio-button>
        </div>
      </div>

      <div class="action-buttons">
        <button mat-flat-button color="primary" class="view-button">
          <mat-icon svgIcon="view"></mat-icon>
          View CAM Spec
        </button>
        
        <button mat-flat-button class="export-button">
          <mat-icon svgIcon="download"></mat-icon>
          Export CAM Spec
        </button>
      </div>

      <div class="info-message">
        <mat-icon class="info-icon">info</mat-icon>
        <span>Clicking on View CAM Spec button will redirect you to CAM Spec menu, you will leave this page.</span>
      </div>
    </div>
  </mat-card>
</div>
