.class-0 {width: 1920.0px; height: 1147.0px; position: relative; background: rgba(245, 245, 245, 1.0)}
.class-1 {width: 248px;
            height: 20px;
            left: 217px;
            top: 117px;
            position: absolute;
            background: transparent;
            border: none;}
.class-2 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-3 {width: 7.0px; height: 13.21px; left: 36px; top: 3px; position: absolute}
.class-4 {width: 7.0px; height: 13.21px; left: 119px; top: 3px; position: absolute}
.class-5 {width: fit-content; height: fit-content; white-space: nowrap;  left: 48px; top: 0px; position: absolute; text-align: left; color: #000000; font-size: 14.0px; font-family: Noto Sans; font-weight: 500; letter-spacing: 0.0px; text-transform: none;}
.class-6 {width: 117.0px; height: fit-content; white-space: normal;  left: 131px; top: 0px; position: absolute; text-align: left; color: #27509b; font-size: 14.0px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; text-transform: none;}
.class-7 {width: 31px;
            height: 16px;
            left: 0px;
            top: 2px;
            position: absolute;
            background: transparent;
            border: none;}
.class-8 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-9 {width: 31.0px; height: 16.0px; 
                left: 0px; top: 0px; 
                position: absolute; background: rgba(39, 80, 155, 1.0); 
                 border-radius: 3.0px;  
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-10 {width: 16.0px; height: 15.97px; left: 8px; top: 0px; position: absolute}
.class-11 {width: fit-content; height: fit-content; white-space: nowrap;  left: 217px; top: 164px; position: absolute; text-align: left; color: #000000; font-size: 36.0px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; text-transform: none;}
.class-12 {width: fit-content; height: fit-content; white-space: nowrap;  left: 241px; top: 228px; position: absolute; text-align: left; color: #000000; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-13 {background: rgba(212, 231, 250, 1.0); font-size: 14.0px; font-family: Noto Sans; font-weight: 400; color: rgba(0, 0, 0, 1.0); padding-left: 31px; width: 130.0px; height: 26.0px; position: absolute; left: 343px; top: 225px; display: flex; align-items: center; justify-content: flex-start; border: none; cursor: pointer; overflow: visible; box-sizing: border-box;}
.class-14 {width: fit-content; height: fit-content; white-space: nowrap;  left: 495px; top: 226px; position: absolute; text-align: left; color: #000000; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-15 {background: rgba(39, 80, 155, 1.0); border-radius: 7.0px; font-size: 16.0px; font-family: Noto Sans; font-weight: 500; color: rgba(255, 255, 255, 1.0); padding-left: 55px; width: 123.0px; height: 48.0px; position: absolute; left: 1646px; top: 150px; display: flex; align-items: center; justify-content: flex-start; border: none; cursor: pointer; overflow: visible; box-sizing: border-box;}
.class-16 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    pointer-events: none;
                    top: 0;
                    left: 0;
                }
.class-17 {
                                position: absolute;
                                left: 32px;
                                top: 16px;
                                width: 16px;
                                height: 16px;
                                pointer-events: none;
                                z-index: 2;
                            }
.class-18 {width: 63px;
            height: 28px;
            left: 1600px;
            top: 28px;
            position: absolute;
            background: transparent;
            border: none;}
.class-19 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-20 {position: absolute;
        left: 32px;
        top: -0.5px;
        width: 1.0px;
        height: 25.0px;
        background-color: rgba(255, 255, 255, 1.0);
        transform-origin: CENTER;}
.class-21 {width: fit-content; height: fit-content; white-space: nowrap;  left: 0px; top: 3px; position: absolute; text-align: left; color: #ffffff; font-size: 18.0px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; text-transform: none;}
.class-22 {width: fit-content; height: fit-content; white-space: nowrap;  left: 38px; top: 3px; position: absolute; text-align: left; color: #ffffff; font-size: 18.0px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; text-transform: none;}
.class-23 {width: 1920px; height: 53px; left: 0px; top: 1088px; position: relative; background-color: rgba(39, 80, 155, 1.0)}
.class-24 {color: rgba(255, 255, 255, 1.0); position: absolute; left: 868px; top: 11px; width: 184px; height: 25px; font-size: 14.0px; font-family: Noto Sans; font-weight: 700; text-align: center}
.class-25 {width: 1601.0px; height: 811.0px; 
                left: 217px; top: 262px; 
                position: absolute; background: rgba(255, 255, 255, 1.0); 
                   
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-26 {width: 16.531005859375px; height: 16.531005859375px; left: 834px; top: 386px; position: absolute; appearance: none; -webkit-appearance: none; -moz-appearance: none; background: rgba(255, 255, 255, 1.0); outline: none; cursor: pointer; border-radius: 50%; padding: 0; margin: 0; border: 1.0px solid rgba(39, 80, 155, 1.0);transition: all 0.2s ease-in-out; &:checked::after { content: ''; display: none; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 10.791072845458984px; height: 10.791072845458984px; background: rgba(39, 80, 155, 1.0); border-radius: 50%; border: 1.0px solid rgba(39, 80, 155, 1.0); }; &:checked::after { display: block; }}
.class-27 {width: 16.531005859375px; height: 16.531005859375px; left: 934px; top: 386px; position: absolute; appearance: none; -webkit-appearance: none; -moz-appearance: none; background: rgba(255, 255, 255, 1.0); outline: none; cursor: pointer; border-radius: 50%; padding: 0; margin: 0; border: 1.0px solid rgba(39, 80, 155, 1.0);transition: all 0.2s ease-in-out; &:checked { background: rgba(255, 255, 255, 1.0); border: 1.0px solid rgba(39, 80, 155, 1.0); }}
.class-28 {width: fit-content; height: fit-content; white-space: nowrap;  left: 245px; top: 286px; position: absolute; text-align: left; color: #000000; font-size: 32.0px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; text-transform: none;}
.class-29 {width: 8.0px; height: 23.7px; white-space: normal;  left: 716px; top: 823px; position: absolute; text-align: left; color: #b71c1c; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-30 {width: 8.0px; height: 23.7px; white-space: normal;  left: 1495px; top: 571px; position: absolute; text-align: left; color: #b71c1c; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-31 {position: absolute; width: 323px; height: 51px; left: 245px; top: 364px;}
.class-32 {position: relative; background: transparent; color: rgba(133, 133, 133, 1.0);; border: none;; font-size: 14.0px;; font-family: Noto Sans;; font-weight: 400;; letter-spacing: 0.0px;; line-height: 24.0px;; font-size: 14.0px;; font-family: Noto Sans;; font-weight: 500;; letter-spacing: 0.0px;; line-height: 24.0px;; appearance: none;; cursor: pointer;; padding: 0 20px 0 20px;; width: 100%;; height: 100%;;}
.class-33 {position: absolute;
        left: -0.3499999940395355px;
        top: 51.0px;
        width: 323.0px;
        height: 0.699999988079071px;
        background-color: rgba(0, 0, 0, 1.0);
        transform-origin: CENTER;}
.class-34 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    pointer-events: none;
                    top: 0;
                    left: 0;
                    z-index: 1;
                }
.class-35 {
                                position: absolute;
                                left: 0px;
                                top: 0px;
                                width: 323px;
                                height: 51px;
                                transform: rotate(0.0deg);
                                transform-origin: center;
                                pointer-events: none;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
.class-36 {
                                position: absolute;
                                left: 297px;
                                top: 24px;
                                width: 10px;
                                height: 5px;
                                transform: rotate(0.0deg);
                                transform-origin: center;
                                pointer-events: none;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
.class-37 {width: fit-content; height: fit-content; white-space: nowrap;  left: 704px; top: 382px; position: absolute; text-align: center; color: #000000; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-38 {width: fit-content; height: fit-content; white-space: nowrap;  left: 269px; top: 459px; position: absolute; text-align: center; color: #000000; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-39 {background: rgba(252, 229, 0, 1.0); border-radius: 8.0px; font-size: 16.0px; font-family: Noto Sans; font-weight: 500; color: rgba(0, 0, 0, 1.0); padding-left: 34px; width: 177.0px; height: 48.0px; position: absolute; left: 1384px; top: 369px; display: flex; align-items: center; justify-content: flex-start; border: none; cursor: pointer; overflow: visible; box-sizing: border-box;}
.class-40 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    pointer-events: none;
                    top: 0;
                    left: 0;
                }
.class-41 {
                                position: absolute;
                                left: 14px;
                                top: 16px;
                                width: 16px;
                                height: 16px;
                                pointer-events: none;
                                z-index: 2;
                            }
.class-42 {background: rgba(39, 80, 155, 1.0); border-radius: 8.0px; font-size: 16.0px; font-family: Noto Sans; font-weight: 500; color: rgba(255, 255, 255, 1.0); padding-left: 41px; width: 177.0px; height: 48.0px; position: absolute; left: 1167px; top: 371px; display: flex; align-items: center; justify-content: flex-start; border: none; cursor: pointer; overflow: visible; box-sizing: border-box;}
.class-43 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    pointer-events: none;
                    top: 0;
                    left: 0;
                }
.class-44 {
                                position: absolute;
                                left: 17px;
                                top: 19px;
                                width: 16px;
                                height: 10.984527587890625px;
                                pointer-events: none;
                                z-index: 2;
                            }
.class-45 {width: 16.0px; height: 16.0px; left: 245px; top: 463px; position: absolute}
.class-46 {width: fit-content; height: fit-content; white-space: nowrap;  left: 953px; top: 382px; position: absolute; text-align: center; color: #000000; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-47 {width: fit-content; height: fit-content; white-space: nowrap;  left: 852px; top: 382px; position: absolute; text-align: center; color: #000000; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-48 {width: 199px;
            height: 1007px;
            left: 0px;
            top: 81px;
            position: absolute;
            background: rgba(255, 255, 255, 1.0);
            box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2); border: 0.5px solid rgba(220, 221, 222, 1.0);}
.class-49 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-50 {width: 199px;
            height: 56px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: rgba(255, 255, 255, 1.0);
            border: none;}
.class-51 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-52 {width: fit-content; height: fit-content; white-space: nowrap;  left: 16px; top: 19px; position: absolute; text-align: left; color: #000000; font-size: 16.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-53 {width: 199px;
            height: 56px;
            left: 0px;
            top: 56px;
            position: absolute;
            background: rgba(39, 80, 155, 1.0);
            border: none;}
.class-54 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-55 {width: fit-content; height: fit-content; white-space: nowrap;  left: 16px; top: 19px; position: absolute; text-align: left; color: #ffffff; font-size: 16.0px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; text-transform: none;}
.class-56 {background: rgba(39, 80, 155, 1.0); width: 1920.0px; height: 81.0px; position: absolute; left: 0px; top: 0px; display: flex; align-items: center; justify-content: space-between;}
.class-57 {
                            position: absolute;
                            left: 1781px;
                            top: 8px;
                            width: 65px;
                            height: 65px;
                        }
.class-58 {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
.class-59 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    pointer-events: none;
                    top: 0;
                    left: 0;
                }
.class-60 {
                                position: absolute;
                                left: 62.5px;
                                top: 22px;
                                width: 87.99995422363281px;
                                height: 35.14951705932617px;
                            }
.class-61 {
                                position: absolute;
                                left: 105.5px;
                                top: 42.90005874633789px;
                                width: 10.999992370605469px;
                                height: 12.824825286865234px;
                            }
.class-62 {
                                position: absolute;
                                left: 110.5px;
                                top: 41.94929122924805px;
                                width: 9.999992370605469px;
                                height: 11.399845123291016px;
                            }
.class-63 {
                                position: absolute;
                                left: 64.500244140625px;
                                top: 50.97496795654297px;
                                width: 6.999997138977051px;
                                height: 6.174917221069336px;
                            }
.class-64 {
                                position: absolute;
                                left: 81.50048828125px;
                                top: 28.65021324157715px;
                                width: 11.999994277954102px;
                                height: 11.399845123291016px;
                            }
.class-65 {color: rgba(255, 255, 255, 1.0); font-size: 28.0px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; position: absolute; left: 298px; top: 31px}
.class-66 {position: relative; width: 100%; height: 100%;}
.class-67 {color: rgba(255, 255, 255, 1.0); font-size: 18.0px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; position: absolute; left: 1600px; top: 31px;; text-decoration: none;}
.class-68 {color: rgba(255, 255, 255, 1.0); font-size: 18.0px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; position: absolute; left: 1638px; top: 31px;; text-decoration: none;}
.class-69 {color: rgba(255, 255, 255, 1.0); font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; position: absolute; left: 1698px; top: 46px;; text-decoration: none;}
.class-70 {color: rgba(255, 255, 255, 1.0); font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; position: absolute; left: 1718px; top: 16px;; text-decoration: none;}
.class-71 {color: rgba(178, 178, 178, 1.0); font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; border: 1.0px solid rgba(214, 214, 214, 1.0);; border-radius: 10.0px; width: 359.0px; height: 55.0px; position: absolute; left: 775px; top: 13px; background: transparent; padding: 0 12px;}
