.class-0 {width: 1920.0px; height: 1147.0px; position: relative; background: rgba(245, 245, 245, 1.0)}
.class-1 {width: 248px;
            height: 20px;
            left: 217px;
            top: 117px;
            position: absolute;
            background: transparent;
            border: none;}
.class-2 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-3 {width: 7.0px; height: 13.21px; left: 36px; top: 3px; position: absolute}
.class-4 {width: 7.0px; height: 13.21px; left: 119px; top: 3px; position: absolute}
.class-5 {width: fit-content; height: fit-content; white-space: nowrap;  left: 48px; top: 0px; position: absolute; text-align: left; color: #000000; font-size: 14.0px; font-family: Noto Sans; font-weight: 500; letter-spacing: 0.0px; text-transform: none;}
.class-6 {width: 117.0px; height: fit-content; white-space: normal;  left: 131px; top: 0px; position: absolute; text-align: left; color: #27509b; font-size: 14.0px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; text-transform: none;}
.class-7 {width: 31px;
            height: 16px;
            left: 0px;
            top: 2px;
            position: absolute;
            background: transparent;
            border: none;}
.class-8 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-9 {width: 31.0px; height: 16.0px; 
                left: 0px; top: 0px; 
                position: absolute; background: rgba(39, 80, 155, 1.0); 
                 border-radius: 3.0px;  
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-10 {width: 16.0px; height: 15.97px; left: 8px; top: 0px; position: absolute}
.class-11 {width: fit-content; height: fit-content; white-space: nowrap;  left: 217px; top: 164px; position: absolute; text-align: left; color: #000000; font-size: 36.0px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; text-transform: none;}
.class-12 {width: fit-content; height: fit-content; white-space: nowrap;  left: 241px; top: 298px; position: absolute; text-align: left; color: #000000; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-13 {width: fit-content; height: fit-content; white-space: nowrap;  left: 377px; top: 297px; position: absolute; text-align: left; color: #27509b; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-14 {width: fit-content; height: fit-content; white-space: nowrap;  left: 479px; top: 296px; position: absolute; text-align: left; color: #27509b; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-15 {background: rgba(212, 231, 250, 1.0); font-size: 14.0px; font-family: Noto Sans; font-weight: 400; color: rgba(39, 80, 155, 1.0); padding-left: 12px; width: 224.0px; height: 26.0px; position: absolute; left: 551px; top: 293px; display: flex; align-items: center; justify-content: flex-start; border: none; cursor: pointer; overflow: visible; box-sizing: border-box;}
.class-16 {width: fit-content; height: fit-content; white-space: nowrap;  left: 796px; top: 297px; position: absolute; text-align: left; color: #27509b; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-17 {width: 1588.0px; height: 272.0px; 
                left: 217px; top: 336px; 
                position: absolute; background: rgba(255, 255, 255, 1.0); 
                   
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-18 {width: fit-content; height: fit-content; white-space: nowrap;  left: 241px; top: 371px; position: absolute; text-align: left; color: #000000; font-size: 32.0px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; text-transform: none;}
.class-19 {width: fit-content; height: fit-content; white-space: nowrap;  left: 737px; top: 389px; position: absolute; text-align: left; color: #b71c1c; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-20 {width: fit-content; height: fit-content; white-space: nowrap;  left: 1045px; top: 389px; position: absolute; text-align: left; color: #b71c1c; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-21 {width: 177px;
            height: 28px;
            left: 241px;
            top: 505px;
            position: absolute;
            background: transparent;
            border: none;}
.class-22 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-23 {width: fit-content; height: fit-content; white-space: nowrap;  left: 0px; top: 4px; position: absolute; text-align: left; color: #000000; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-24 {width: fit-content; height: fit-content; white-space: nowrap;  left: 126px; top: 0px; position: absolute; text-align: left; color: #b71c1c; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-25 {width: 41px;
            height: 19px;
            left: 136px;
            top: 7px;
            position: absolute;
            background: transparent;
            border: none;}
.class-26 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-27 {width: 41.0px; height: 19.0px; 
                left: 0px; top: 0px; 
                position: absolute; background: rgba(255, 255, 255, 1.0); 
                border: 1.0px #27509b solid; border-radius: 10.5px;  
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-28 {width: 17.0px; height: 17.0px; left: 1px; top: 1px; position: absolute}
.class-29 {background: rgba(39, 80, 155, 1.0); border-radius: 7.0px; font-size: 16.0px; font-family: Noto Sans; font-weight: 500; color: rgba(255, 255, 255, 1.0); padding-left: 55px; width: 123.0px; height: 48.0px; position: absolute; left: 1644px; top: 448px; display: flex; align-items: center; justify-content: flex-start; border: none; cursor: pointer; overflow: visible; box-sizing: border-box;}
.class-30 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    pointer-events: none;
                    top: 0;
                    left: 0;
                }
.class-31 {
                                position: absolute;
                                left: 32px;
                                top: 16px;
                                width: 16px;
                                height: 16px;
                                pointer-events: none;
                                z-index: 2;
                            }
.class-32 {width: 1920px; height: 53px; left: 0px; top: 1088px; position: relative; background-color: rgba(39, 80, 155, 1.0)}
.class-33 {color: rgba(255, 255, 255, 1.0); position: absolute; left: 868px; top: 11px; width: 184px; height: 25px; font-size: 14.0px; font-family: Noto Sans; font-weight: 700; text-align: center}
.class-34 {width: fit-content; height: fit-content; white-space: nowrap;  left: 16px; top: 1103px; position: absolute; text-align: left; color: #ffffff; font-size: 12.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-35 {width: fit-content; height: fit-content; white-space: nowrap;  left: 1831px; top: 1106px; position: absolute; text-align: left; color: #ffffff; font-size: 12.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-36 {width: fit-content; height: fit-content; white-space: nowrap;  left: 217px; top: 216px; position: absolute; text-align: left; color: #000000; font-size: 14.0px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; text-transform: none;}
.class-37 {width: fit-content; height: fit-content; white-space: nowrap;  left: 217px; top: 240px; position: absolute; text-align: left; color: #000000; font-size: 12.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-38 {width: 176px;
            height: 943px;
            left: 0px;
            top: 81px;
            position: absolute;
            background: rgba(238, 238, 238, 1.0);
            box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.12); border: none;}
.class-39 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-40 {width: 176px;
            height: 404px;
            left: 0px;
            top: 24px;
            position: absolute;
            background: transparent;
            border: none;}
.class-41 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-42 {width: 176px;
            height: 404px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: transparent;
            border: none;}
.class-43 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-44 {width: 176px;
            height: 20px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: transparent;
            border: none;}
.class-45 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-46 {width: 20px;
            height: 20px;
            left: 24px;
            top: 0px;
            position: absolute;
            background: transparent;
            border: none;}
.class-47 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-48 {width: 20.0px; height: 20.0px; left: 0px; top: 0px; position: absolute}
.class-49 {width: fit-content; height: fit-content; white-space: nowrap;  left: 54px; top: 0px; position: absolute; text-align: center; color: #27509b; font-size: 14.0px; font-family: Noto Sans; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-50 {width: 176px;
            height: 360px;
            left: 0px;
            top: 44px;
            position: absolute;
            background: transparent;
            border: none;}
.class-51 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-52 {width: 176px;
            height: 40px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: transparent;
            border: none;}
.class-53 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-54 {width: 176px;
            height: 40px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: transparent;
            border: none;}
.class-55 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-56 {width: 16px;
            height: 16px;
            left: 16px;
            top: 12px;
            position: absolute;
            background: transparent;
            border: none;}
.class-57 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-58 {width: 16.0px; height: 14.5px; left: 0px; top: 1px; position: absolute}
.class-59 {width: 100.0px; height: fit-content; white-space: normal;  left: 40px; top: 8px; position: absolute; text-align: left; color: #000000; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-60 {width: 12px;
            height: 12px;
            left: 148px;
            top: 14px;
            position: absolute;
            background: transparent;
            border: none;}
.class-61 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-62 {width: 7.0px; height: 12.0px; left: 2px; top: 0px; position: absolute}
.class-63 {width: 176px;
            height: 40px;
            left: 0px;
            top: 64px;
            position: absolute;
            background: transparent;
            border: none;}
.class-64 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-65 {width: 176px;
            height: 40px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: rgba(212, 231, 250, 1.0);
            border: none;}
.class-66 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-67 {width: 16px;
            height: 16px;
            left: 16px;
            top: 12px;
            position: absolute;
            background: transparent;
            border: none;}
.class-68 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-69 {width: 16.0px; height: 16.0px; left: 0px; top: 0px; position: absolute}
.class-70 {width: 100.0px; height: fit-content; white-space: normal;  left: 40px; top: 8px; position: absolute; text-align: left; color: #27509b; font-size: 14.0px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; text-transform: none;}
.class-71 {width: 12px;
            height: 12px;
            left: 148px;
            top: 14px;
            position: absolute;
            background: transparent;
            border: none;}
.class-72 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-73 {width: 7.0px; height: 12.0px; left: 2px; top: 0px; position: absolute}
.class-74 {width: 176px;
            height: 40px;
            left: 0px;
            top: 128px;
            position: absolute;
            background: transparent;
            border: none;}
.class-75 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-76 {width: 176px;
            height: 40px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: transparent;
            border: none;}
.class-77 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-78 {width: 16px;
            height: 16px;
            left: 16px;
            top: 12px;
            position: absolute;
            background: transparent;
            border: none;}
.class-79 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-80 {width: 16.0px; height: 15.97px; left: 0px; top: 0px; position: absolute}
.class-81 {width: 100.0px; height: fit-content; white-space: normal;  left: 40px; top: 8px; position: absolute; text-align: left; color: #000000; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-82 {width: 12px;
            height: 12px;
            left: 148px;
            top: 14px;
            position: absolute;
            background: transparent;
            border: none;}
.class-83 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-84 {width: 7.0px; height: 12.0px; left: 2px; top: 0px; position: absolute}
.class-85 {width: 176px;
            height: 40px;
            left: 0px;
            top: 192px;
            position: absolute;
            background: transparent;
            border: none;}
.class-86 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-87 {width: 176px;
            height: 40px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: transparent;
            border: none;}
.class-88 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-89 {width: 16px;
            height: 16px;
            left: 16px;
            top: 12px;
            position: absolute;
            background: transparent;
            border: none;}
.class-90 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-91 {width: 16.0px; height: 16.0px; left: 0px; top: 0px; position: absolute}
.class-92 {width: 100.0px; height: fit-content; white-space: normal;  left: 40px; top: 8px; position: absolute; text-align: left; color: #000000; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-93 {width: 12px;
            height: 12px;
            left: 148px;
            top: 14px;
            position: absolute;
            background: transparent;
            border: none;}
.class-94 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-95 {width: 7.0px; height: 12.0px; left: 2px; top: 0px; position: absolute}
.class-96 {width: 176px;
            height: 40px;
            left: 0px;
            top: 256px;
            position: absolute;
            background: transparent;
            border: none;}
.class-97 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-98 {width: 176px;
            height: 40px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: transparent;
            border: none;}
.class-99 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-100 {width: 16px;
            height: 16px;
            left: 16px;
            top: 12px;
            position: absolute;
            background: transparent;
            border: none;}
.class-101 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-102 {width: 14.0px; height: 16.0px; left: 1px; top: 0px; position: absolute}
.class-103 {width: 100.0px; height: fit-content; white-space: normal;  left: 40px; top: 8px; position: absolute; text-align: left; color: #000000; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-104 {width: 12px;
            height: 12px;
            left: 148px;
            top: 14px;
            position: absolute;
            background: transparent;
            border: none;}
.class-105 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-106 {width: 7.0px; height: 12.0px; left: 2px; top: 0px; position: absolute}
.class-107 {width: 176px;
            height: 40px;
            left: 0px;
            top: 320px;
            position: absolute;
            background: transparent;
            border: none;}
.class-108 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-109 {width: 176px;
            height: 40px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: transparent;
            border: none;}
.class-110 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-111 {width: 16px;
            height: 16px;
            left: 16px;
            top: 12px;
            position: absolute;
            background: transparent;
            border: none;}
.class-112 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-113 {width: 16.0px; height: 16.0px; left: 0px; top: 0px; position: absolute}
.class-114 {width: 100.0px; height: fit-content; white-space: normal;  left: 40px; top: 8px; position: absolute; text-align: left; color: #000000; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-115 {width: 12px;
            height: 12px;
            left: 148px;
            top: 14px;
            position: absolute;
            background: transparent;
            border: none;}
.class-116 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-117 {width: 7.0px; height: 12.0px; left: 2px; top: 0px; position: absolute}
.class-118 {width: 176px;
            height: 40px;
            left: 0px;
            top: 879px;
            position: absolute;
            background: transparent;
            border: none;}
.class-119 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-120 {width: 16px;
            height: 16px;
            left: 16px;
            top: 12px;
            position: absolute;
            background: transparent;
            border: none;}
.class-121 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-122 {width: 16px;
            height: 16px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: transparent;
            border: none;}
.class-123 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-124 {width: 16.0px; height: 16.0px; 
                left: 0px; top: 0px; 
                position: absolute;  
                   mask-type: alpha;
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-125 {width: 16.0px; height: 10.54px; left: 0px; top: 3px; position: absolute}
.class-126 {width: 106.0px; height: 24.0px; white-space: normal;  left: 44px; top: 8px; position: absolute; text-align: left; color: #000000; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-127 {background: rgba(39, 80, 155, 1.0); width: 1920.0px; height: 81.0px; position: absolute; left: 0px; top: 0px; display: flex; align-items: center; justify-content: space-between;}
.class-128 {
                            position: absolute;
                            left: 1781px;
                            top: 8px;
                            width: 65px;
                            height: 65px;
                        }
.class-129 {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
.class-130 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    pointer-events: none;
                    top: 0;
                    left: 0;
                }
.class-131 {
                                position: absolute;
                                left: 62.5px;
                                top: 22px;
                                width: 87.99995422363281px;
                                height: 35.14951705932617px;
                            }
.class-132 {
                                position: absolute;
                                left: 105.5px;
                                top: 42.90005874633789px;
                                width: 10.999992370605469px;
                                height: 12.824825286865234px;
                            }
.class-133 {
                                position: absolute;
                                left: 110.5px;
                                top: 41.94929122924805px;
                                width: 9.999992370605469px;
                                height: 11.399845123291016px;
                            }
.class-134 {
                                position: absolute;
                                left: 70.49951171875px;
                                top: 23.424917221069336px;
                                width: 30.999980926513672px;
                                height: 33.72454071044922px;
                            }
.class-135 {
                                position: absolute;
                                left: 147px;
                                top: 38.15026092529297px;
                                width: 126.99995422363281px;
                                height: 12.349834442138672px;
                            }
.class-136 {color: rgba(255, 255, 255, 1.0); font-size: 28.0px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; position: absolute; left: 298px; top: 31px}
.class-137 {position: relative; width: 100%; height: 100%;}
.class-138 {color: rgba(255, 255, 255, 1.0); font-size: 18.0px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; position: absolute; left: 1600px; top: 31px;; text-decoration: none;}
.class-139 {color: rgba(255, 255, 255, 1.0); font-size: 18.0px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; position: absolute; left: 1638px; top: 31px;; text-decoration: none;}
.class-140 {color: rgba(255, 255, 255, 1.0); font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; position: absolute; left: 1698px; top: 46px;; text-decoration: none;}
.class-141 {color: rgba(255, 255, 255, 1.0); font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; position: absolute; left: 1718px; top: 16px;; text-decoration: none;}
.class-142 {color: rgba(178, 178, 178, 1.0); font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; border: 1.0px solid rgba(214, 214, 214, 1.0);; border-radius: 10.0px; width: 359.0px; height: 55.0px; position: absolute; left: 775px; top: 13px; background: transparent; padding: 0 12px;}
