.class-0 {width: 1920.0px; height: 1147.0px; position: relative; background: rgba(245, 245, 245, 1.0)}
.class-1 {width: 248px;
            height: 20px;
            left: 217px;
            top: 117px;
            position: absolute;
            background: transparent;
            border: none;}
.class-2 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-3 {width: 7.0px; height: 13.21px; left: 36px; top: 3px; position: absolute}
.class-4 {width: 7.0px; height: 13.21px; left: 119px; top: 3px; position: absolute}
.class-5 {width: fit-content; height: fit-content; white-space: nowrap;  left: 48px; top: 0px; position: absolute; text-align: left; color: #000000; font-size: 14.0px; font-family: Noto Sans; font-weight: 500; letter-spacing: 0.0px; text-transform: none;}
.class-6 {width: 117.0px; height: fit-content; white-space: normal;  left: 131px; top: 0px; position: absolute; text-align: left; color: #27509b; font-size: 14.0px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; text-transform: none;}
.class-7 {width: 31px;
            height: 16px;
            left: 0px;
            top: 2px;
            position: absolute;
            background: transparent;
            border: none;}
.class-8 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-9 {width: 31.0px; height: 16.0px; 
                left: 0px; top: 0px; 
                position: absolute; background: rgba(39, 80, 155, 1.0); 
                 border-radius: 3.0px;  
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-10 {width: 16.0px; height: 15.97px; left: 8px; top: 0px; position: absolute}
.class-11 {width: fit-content; height: fit-content; white-space: nowrap;  left: 217px; top: 164px; position: absolute; text-align: left; color: #000000; font-size: 36.0px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; text-transform: none;}
.class-12 {width: fit-content; height: fit-content; white-space: nowrap;  left: 241px; top: 228px; position: absolute; text-align: left; color: #000000; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-13 {width: fit-content; height: fit-content; white-space: nowrap;  left: 377px; top: 227px; position: absolute; text-align: left; color: #27509b; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-14 {width: fit-content; height: fit-content; white-space: nowrap;  left: 479px; top: 226px; position: absolute; text-align: left; color: #27509b; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-15 {background: rgba(212, 231, 250, 1.0); font-size: 14.0px; font-family: Noto Sans; font-weight: 400; color: rgba(39, 80, 155, 1.0); padding-left: 12px; width: 224.0px; height: 26.0px; position: absolute; left: 551px; top: 223px; display: flex; align-items: center; justify-content: flex-start; border: none; cursor: pointer; overflow: visible; box-sizing: border-box;}
.class-16 {width: fit-content; height: fit-content; white-space: nowrap;  left: 796px; top: 227px; position: absolute; text-align: left; color: #27509b; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-17 {width: 1601.0px; height: 811.0px; 
                left: 204px; top: 283px; 
                position: absolute; background: rgba(255, 255, 255, 1.0); 
                   
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-18 {width: fit-content; height: fit-content; white-space: nowrap;  left: 241px; top: 288px; position: absolute; text-align: left; color: #000000; font-size: 32.0px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; text-transform: none;}
.class-19 {width: 184px;
            height: 24px;
            left: 241px;
            top: 529px;
            position: absolute;
            background: transparent;
            border: none;}
.class-20 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-21 {width: fit-content; height: fit-content; white-space: nowrap;  left: 24px; top: 0px; position: absolute; text-align: left; color: #000000; font-size: 18.0px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; text-transform: none;}
.class-22 {width: 16.0px; height: 15.41px; left: 0px; top: 4px; position: absolute}
.class-23 {width: 289px;
            height: 24px;
            left: 241px;
            top: 869px;
            position: absolute;
            background: transparent;
            border: none;}
.class-24 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-25 {width: fit-content; height: fit-content; white-space: nowrap;  left: 24px; top: 0px; position: absolute; text-align: left; color: #000000; font-size: 18.0px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; text-transform: none;}
.class-26 {width: 16.0px; height: 15.41px; left: 0px; top: 4px; position: absolute}
.class-27 {
                position: absolute;
                width: 328.0px;
                height: 48.0px;
                left: 243px;
                top: 605px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
.class-28 {width: 100%; height: 100%; background: rgba(229, 229, 229, 1.0); color: rgba(165, 165, 165, 1.0); box-sizing: border-box; z-index: 1; border: none;; border-radius: 8.0px; font-size: 14.0px; font-family: Noto Sans; font-weight: 300; padding-left: 21px;}
.class-29 {
                position: absolute;
                width: 328.0px;
                height: 48.0px;
                left: 243px;
                top: 705px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
.class-30 {width: 100%; height: 100%; background: rgba(229, 229, 229, 1.0); color: rgba(165, 165, 165, 1.0); box-sizing: border-box; z-index: 1; border: none;; border-radius: 8.0px; font-size: 14.0px; font-family: Noto Sans; font-weight: 300; padding-left: 21px;}
.class-31 {
                position: absolute;
                width: 328.0px;
                height: 48.0px;
                left: 243px;
                top: 945px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
.class-32 {width: 100%; height: 100%; background: transparent; color: rgba(165, 165, 165, 1.0); box-sizing: border-box; z-index: 1; border: none;; font-size: 14.0px; font-family: Noto Sans; font-weight: 300;}
.class-33 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    pointer-events: none;
                    overflow: visible;
                }
.class-34 {
                                position: absolute;
                                left: 0px;
                                top: 0px;
                                width: 328px;
                                height: 48px;
                                pointer-events: none;
                                z-index: 2;
                            }
.class-35 {
                position: absolute;
                width: 328.0px;
                height: 48.0px;
                left: 622px;
                top: 945px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
.class-36 {width: 100%; height: 100%; background: rgba(229, 229, 229, 1.0); color: rgba(165, 165, 165, 1.0); box-sizing: border-box; z-index: 1; border: none;; border-radius: 8.0px; font-size: 14.0px; font-family: Noto Sans; font-weight: 300; padding-left: 21px;}
.class-37 {
                position: absolute;
                width: 328.0px;
                height: 48.0px;
                left: 1001px;
                top: 945px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
.class-38 {width: 100%; height: 100%; background: rgba(229, 229, 229, 1.0); color: rgba(165, 165, 165, 1.0); box-sizing: border-box; z-index: 1; border: none;; border-radius: 8.0px; font-size: 14.0px; font-family: Noto Sans; font-weight: 300; padding-left: 21px;}
.class-39 {
                position: absolute;
                width: 328.0px;
                height: 48.0px;
                left: 241px;
                top: 794px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
.class-40 {width: 100%; height: 100%; background: rgba(229, 229, 229, 1.0); color: rgba(165, 165, 165, 1.0); box-sizing: border-box; z-index: 1; border: none;; border-radius: 8.0px; font-size: 14.0px; font-family: Noto Sans; font-weight: 300; padding-left: 21px;}
.class-41 {
                position: absolute;
                width: 328.0px;
                height: 48.0px;
                left: 622px;
                top: 794px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
.class-42 {width: 100%; height: 100%; background: rgba(229, 229, 229, 1.0); color: rgba(165, 165, 165, 1.0); box-sizing: border-box; z-index: 1; border: none;; border-radius: 8.0px; font-size: 14.0px; font-family: Noto Sans; font-weight: 300; padding-left: 21px;}
.class-43 {
                position: absolute;
                width: 328.0px;
                height: 48.0px;
                left: 622px;
                top: 605px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
.class-44 {width: 100%; height: 100%; background: rgba(229, 229, 229, 1.0); color: rgba(165, 165, 165, 1.0); box-sizing: border-box; z-index: 1; border: none;; border-radius: 8.0px; font-size: 14.0px; font-family: Noto Sans; font-weight: 300; padding-left: 21px;}
.class-45 {
                position: absolute;
                width: 328.0px;
                height: 48.0px;
                left: 622px;
                top: 705px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
.class-46 {width: 100%; height: 100%; background: rgba(229, 229, 229, 1.0); color: rgba(165, 165, 165, 1.0); box-sizing: border-box; z-index: 1; border: none;; border-radius: 8.0px; font-size: 14.0px; font-family: Noto Sans; font-weight: 300; padding-left: 21px;}
.class-47 {
                position: absolute;
                width: 328.0px;
                height: 48.0px;
                left: 1001px;
                top: 605px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
.class-48 {width: 100%; height: 100%; background: rgba(229, 229, 229, 1.0); color: rgba(165, 165, 165, 1.0); box-sizing: border-box; z-index: 1; border: none;; border-radius: 8.0px; font-size: 14.0px; font-family: Noto Sans; font-weight: 300; padding-left: 21px;}
.class-49 {
                position: absolute;
                width: 328.0px;
                height: 48.0px;
                left: 1001px;
                top: 705px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
.class-50 {width: 100%; height: 100%; background: rgba(229, 229, 229, 1.0); color: rgba(165, 165, 165, 1.0); box-sizing: border-box; z-index: 1; border: none;; border-radius: 8.0px; font-size: 14.0px; font-family: Noto Sans; font-weight: 300; padding-left: 21px;}
.class-51 {
                position: absolute;
                width: 328.0px;
                height: 48.0px;
                left: 1380px;
                top: 605px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
.class-52 {width: 100%; height: 100%; background: rgba(229, 229, 229, 1.0); color: rgba(165, 165, 165, 1.0); box-sizing: border-box; z-index: 1; border: none;; border-radius: 8.0px; font-size: 14.0px; font-family: Noto Sans; font-weight: 300; padding-left: 21px;}
.class-53 {
                position: absolute;
                width: 328.0px;
                height: 48.0px;
                left: 1380px;
                top: 705px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
.class-54 {width: 100%; height: 100%; background: rgba(229, 229, 229, 1.0); color: rgba(165, 165, 165, 1.0); box-sizing: border-box; z-index: 1; border: none;; border-radius: 8.0px; font-size: 14.0px; font-family: Noto Sans; font-weight: 300; padding-left: 21px;}
.class-55 {width: 35.0px; height: 24.0px; white-space: normal;  left: 241px; top: 574px; position: absolute; text-align: left; color: #000000; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-56 {width: 65.0px; height: 23.7px; white-space: normal;  left: 241px; top: 674px; position: absolute; text-align: left; color: #000000; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-57 {width: 196.0px; height: 24.0px; white-space: normal;  left: 241px; top: 914px; position: absolute; text-align: left; color: #000000; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-58 {width: fit-content; height: fit-content; white-space: nowrap;  left: 241px; top: 763px; position: absolute; text-align: left; color: #000000; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-59 {width: 54.0px; height: 24.0px; white-space: normal;  left: 1001px; top: 574px; position: absolute; text-align: left; color: #000000; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-60 {width: 103.0px; height: 24.0px; white-space: normal;  left: 1001px; top: 674px; position: absolute; text-align: left; color: #000000; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-61 {width: 103.0px; height: 24.0px; white-space: normal;  left: 1001px; top: 914px; position: absolute; text-align: left; color: #000000; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-62 {width: fit-content; height: fit-content; white-space: nowrap;  left: 737px; top: 389px; position: absolute; text-align: left; color: #b71c1c; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-63 {width: 81.0px; height: 24.0px; white-space: normal;  left: 621px; top: 574px; position: absolute; text-align: left; color: #000000; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-64 {width: 114.0px; height: 24.0px; white-space: normal;  left: 621px; top: 674px; position: absolute; text-align: left; color: #000000; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-65 {width: 154.0px; height: 24.0px; white-space: normal;  left: 621px; top: 914px; position: absolute; text-align: left; color: #000000; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-66 {width: 103.0px; height: 23.7px; white-space: normal;  left: 1381px; top: 574px; position: absolute; text-align: left; color: #000000; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-67 {width: 103.0px; height: 23.7px; white-space: normal;  left: 1381px; top: 674px; position: absolute; text-align: left; color: #000000; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-68 {width: 8.0px; height: 23.7px; white-space: normal;  left: 273px; top: 571px; position: absolute; text-align: left; color: #b71c1c; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-69 {width: fit-content; height: fit-content; white-space: nowrap;  left: 1045px; top: 389px; position: absolute; text-align: left; color: #b71c1c; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-70 {width: 177px;
            height: 28px;
            left: 241px;
            top: 452px;
            position: absolute;
            background: transparent;
            border: none;}
.class-71 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-72 {width: fit-content; height: fit-content; white-space: nowrap;  left: 0px; top: 4px; position: absolute; text-align: left; color: #000000; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-73 {width: fit-content; height: fit-content; white-space: nowrap;  left: 126px; top: 0px; position: absolute; text-align: left; color: #b71c1c; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-74 {width: 41px;
            height: 19px;
            left: 136px;
            top: 7px;
            position: absolute;
            background: transparent;
            border: none;}
.class-75 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-76 {width: 41.0px; height: 19.0px; 
                left: 0px; top: 0px; 
                position: absolute; background: rgba(255, 255, 255, 1.0); 
                border: 1.0px #27509b solid; border-radius: 10.5px;  
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-77 {width: 17.0px; height: 17.0px; left: 1px; top: 1px; position: absolute}
.class-78 {position: absolute;
        left: 240.5px;
        top: 562px;
        width: 1561.0003662109375px;
        height: 1.0px;
        background-color: rgba(160, 160, 160, 1.0);
        transform-origin: CENTER;}
.class-79 {position: absolute;
        left: 240.5px;
        top: 901px;
        width: 1569.0px;
        height: 1.0px;
        background-color: rgba(160, 160, 160, 1.0);
        transform-origin: CENTER;}
.class-80 {width: fit-content; height: fit-content; white-space: nowrap;  left: 621px; top: 763px; position: absolute; text-align: left; color: #000000; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-81 {background: rgba(39, 80, 155, 1.0); border-radius: 7.0px; font-size: 16.0px; font-family: Noto Sans; font-weight: 500; color: rgba(255, 255, 255, 1.0); padding-left: 55px; width: 123.0px; height: 48.0px; position: absolute; left: 1644px; top: 365px; display: flex; align-items: center; justify-content: flex-start; border: none; cursor: pointer; overflow: visible; box-sizing: border-box;}
.class-82 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    pointer-events: none;
                    top: 0;
                    left: 0;
                }
.class-83 {
                                position: absolute;
                                left: 32px;
                                top: 16px;
                                width: 16px;
                                height: 16px;
                                pointer-events: none;
                                z-index: 2;
                            }
.class-84 {background: rgba(39, 80, 155, 1.0); border-radius: 7.0px; font-size: 16.0px; font-family: Noto Sans; font-weight: 500; color: rgba(255, 255, 255, 1.0); padding-left: 46px; width: 174.0px; height: 48.0px; position: absolute; left: 1432px; top: 365px; display: flex; align-items: center; justify-content: flex-start; border: none; cursor: pointer; overflow: visible; box-sizing: border-box;}
.class-85 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    pointer-events: none;
                    top: 0;
                    left: 0;
                }
.class-86 {
                                position: absolute;
                                left: 24px;
                                top: 16px;
                                width: 15.367424964904785px;
                                height: 16px;
                                pointer-events: none;
                                z-index: 2;
                            }
.class-87 {width: 1920px; height: 53px; left: 0px; top: 1088px; position: relative; background-color: rgba(39, 80, 155, 1.0)}
.class-88 {color: rgba(255, 255, 255, 1.0); position: absolute; left: 868px; top: 11px; width: 184px; height: 25px; font-size: 14.0px; font-family: Noto Sans; font-weight: 700; text-align: center}
.class-89 {width: 16.01px; height: 9.33px; left: 1767px; top: 536px; position: absolute}
.class-90 {width: fit-content; height: fit-content; white-space: nowrap;  left: 16px; top: 1103px; position: absolute; text-align: left; color: #ffffff; font-size: 12.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-91 {width: fit-content; height: fit-content; white-space: nowrap;  left: 1831px; top: 1106px; position: absolute; text-align: left; color: #ffffff; font-size: 12.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-92 {background: rgba(39, 80, 155, 1.0); width: 1920.0px; height: 81.0px; position: absolute; left: 0px; top: 0px; display: flex; align-items: center; justify-content: space-between;}
.class-93 {
                            position: absolute;
                            left: 1781px;
                            top: 8px;
                            width: 65px;
                            height: 65px;
                        }
.class-94 {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
.class-95 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    pointer-events: none;
                    top: 0;
                    left: 0;
                }
.class-96 {
                                position: absolute;
                                left: 62.5px;
                                top: 22px;
                                width: 87.99995422363281px;
                                height: 35.14951705932617px;
                            }
.class-97 {
                                position: absolute;
                                left: 105.5px;
                                top: 42.90005874633789px;
                                width: 10.999992370605469px;
                                height: 12.824825286865234px;
                            }
.class-98 {
                                position: absolute;
                                left: 110.5px;
                                top: 41.94929122924805px;
                                width: 9.999992370605469px;
                                height: 11.399845123291016px;
                            }
.class-99 {
                                position: absolute;
                                left: 100px;
                                top: 42.90005874633789px;
                                width: 9.999996185302734px;
                                height: 14.249809265136719px;
                            }
.class-100 {color: rgba(255, 255, 255, 1.0); font-size: 28.0px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; position: absolute; left: 298px; top: 31px}
.class-101 {position: relative; width: 100%; height: 100%;}
.class-102 {color: rgba(255, 255, 255, 1.0); font-size: 18.0px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; position: absolute; left: 1600px; top: 31px;; text-decoration: none;}
.class-103 {color: rgba(255, 255, 255, 1.0); font-size: 18.0px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; position: absolute; left: 1638px; top: 31px;; text-decoration: none;}
.class-104 {color: rgba(255, 255, 255, 1.0); font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; position: absolute; left: 1698px; top: 46px;; text-decoration: none;}
.class-105 {color: rgba(255, 255, 255, 1.0); font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; position: absolute; left: 1718px; top: 16px;; text-decoration: none;}
.class-106 {color: rgba(178, 178, 178, 1.0); font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; border: 1.0px solid rgba(214, 214, 214, 1.0);; border-radius: 10.0px; width: 359.0px; height: 55.0px; position: absolute; left: 775px; top: 13px; background: transparent; padding: 0 12px;}
.class-107 {width: 176px;
            height: 943px;
            left: 0px;
            top: 81px;
            position: absolute;
            background: rgba(238, 238, 238, 1.0);
            box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.12); border: none;}
.class-108 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-109 {width: 176px;
            height: 404px;
            left: 0px;
            top: 24px;
            position: absolute;
            background: transparent;
            border: none;}
.class-110 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-111 {width: 176px;
            height: 404px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: transparent;
            border: none;}
.class-112 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-113 {width: 176px;
            height: 20px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: transparent;
            border: none;}
.class-114 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-115 {width: 20px;
            height: 20px;
            left: 24px;
            top: 0px;
            position: absolute;
            background: transparent;
            border: none;}
.class-116 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-117 {width: 20.0px; height: 20.0px; left: 0px; top: 0px; position: absolute}
.class-118 {width: fit-content; height: fit-content; white-space: nowrap;  left: 54px; top: 0px; position: absolute; text-align: center; color: #27509b; font-size: 14.0px; font-family: Noto Sans; font-weight: 600; letter-spacing: 0.0px; text-transform: none;}
.class-119 {width: 176px;
            height: 360px;
            left: 0px;
            top: 44px;
            position: absolute;
            background: transparent;
            border: none;}
.class-120 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-121 {width: 176px;
            height: 40px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: transparent;
            border: none;}
.class-122 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-123 {width: 176px;
            height: 40px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: transparent;
            border: none;}
.class-124 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-125 {width: 16px;
            height: 16px;
            left: 16px;
            top: 12px;
            position: absolute;
            background: transparent;
            border: none;}
.class-126 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-127 {width: 16.0px; height: 14.5px; left: 0px; top: 1px; position: absolute}
.class-128 {width: 100.0px; height: fit-content; white-space: normal;  left: 40px; top: 8px; position: absolute; text-align: left; color: #000000; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-129 {width: 12px;
            height: 12px;
            left: 148px;
            top: 14px;
            position: absolute;
            background: transparent;
            border: none;}
.class-130 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-131 {width: 7.0px; height: 12.0px; left: 2px; top: 0px; position: absolute}
.class-132 {width: 176px;
            height: 40px;
            left: 0px;
            top: 64px;
            position: absolute;
            background: transparent;
            border: none;}
.class-133 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-134 {width: 176px;
            height: 40px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: rgba(212, 231, 250, 1.0);
            border: none;}
.class-135 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-136 {width: 16px;
            height: 16px;
            left: 16px;
            top: 12px;
            position: absolute;
            background: transparent;
            border: none;}
.class-137 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-138 {width: 16.0px; height: 16.0px; left: 0px; top: 0px; position: absolute}
.class-139 {width: 100.0px; height: fit-content; white-space: normal;  left: 40px; top: 8px; position: absolute; text-align: left; color: #27509b; font-size: 14.0px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; text-transform: none;}
.class-140 {width: 12px;
            height: 12px;
            left: 148px;
            top: 14px;
            position: absolute;
            background: transparent;
            border: none;}
.class-141 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-142 {width: 7.0px; height: 12.0px; left: 2px; top: 0px; position: absolute}
.class-143 {width: 176px;
            height: 40px;
            left: 0px;
            top: 128px;
            position: absolute;
            background: transparent;
            border: none;}
.class-144 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-145 {width: 176px;
            height: 40px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: transparent;
            border: none;}
.class-146 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-147 {width: 16px;
            height: 16px;
            left: 16px;
            top: 12px;
            position: absolute;
            background: transparent;
            border: none;}
.class-148 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-149 {width: 16.0px; height: 15.97px; left: 0px; top: 0px; position: absolute}
.class-150 {width: 100.0px; height: fit-content; white-space: normal;  left: 40px; top: 8px; position: absolute; text-align: left; color: #000000; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-151 {width: 12px;
            height: 12px;
            left: 148px;
            top: 14px;
            position: absolute;
            background: transparent;
            border: none;}
.class-152 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-153 {width: 7.0px; height: 12.0px; left: 2px; top: 0px; position: absolute}
.class-154 {width: 176px;
            height: 40px;
            left: 0px;
            top: 192px;
            position: absolute;
            background: transparent;
            border: none;}
.class-155 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-156 {width: 176px;
            height: 40px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: transparent;
            border: none;}
.class-157 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-158 {width: 16px;
            height: 16px;
            left: 16px;
            top: 12px;
            position: absolute;
            background: transparent;
            border: none;}
.class-159 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-160 {width: 16.0px; height: 16.0px; left: 0px; top: 0px; position: absolute}
.class-161 {width: 100.0px; height: fit-content; white-space: normal;  left: 40px; top: 8px; position: absolute; text-align: left; color: #000000; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-162 {width: 12px;
            height: 12px;
            left: 148px;
            top: 14px;
            position: absolute;
            background: transparent;
            border: none;}
.class-163 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-164 {width: 176px;
            height: 40px;
            left: 0px;
            top: 256px;
            position: absolute;
            background: transparent;
            border: none;}
.class-165 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-166 {width: 176px;
            height: 40px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: transparent;
            border: none;}
.class-167 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-168 {width: 16px;
            height: 16px;
            left: 16px;
            top: 12px;
            position: absolute;
            background: transparent;
            border: none;}
.class-169 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-170 {width: 100.0px; height: fit-content; white-space: normal;  left: 40px; top: 8px; position: absolute; text-align: left; color: #000000; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-171 {width: 12px;
            height: 12px;
            left: 148px;
            top: 14px;
            position: absolute;
            background: transparent;
            border: none;}
.class-172 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-173 {width: 176px;
            height: 40px;
            left: 0px;
            top: 320px;
            position: absolute;
            background: transparent;
            border: none;}
.class-174 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-175 {width: 176px;
            height: 40px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: transparent;
            border: none;}
.class-176 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-177 {width: 16px;
            height: 16px;
            left: 16px;
            top: 12px;
            position: absolute;
            background: transparent;
            border: none;}
.class-178 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-179 {width: 100.0px; height: fit-content; white-space: normal;  left: 40px; top: 8px; position: absolute; text-align: left; color: #000000; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.class-180 {width: 12px;
            height: 12px;
            left: 148px;
            top: 14px;
            position: absolute;
            background: transparent;
            border: none;}
.class-181 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-182 {width: 7.0px; height: 12.0px; left: 2px; top: 0px; position: absolute}
.class-183 {width: 176px;
            height: 40px;
            left: 0px;
            top: 879px;
            position: absolute;
            background: transparent;
            border: none;}
.class-184 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-185 {width: 16px;
            height: 16px;
            left: 16px;
            top: 12px;
            position: absolute;
            background: transparent;
            border: none;}
.class-186 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-187 {width: 16px;
            height: 16px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: transparent;
            border: none;}
.class-188 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.class-189 {width: 16.0px; height: 16.0px; 
                left: 0px; top: 0px; 
                position: absolute;  
                   mask-type: alpha;
                transform: rotate(0.0deg); transform-origin: 0 0;}
.class-190 {width: 16.0px; height: 10.54px; left: 0px; top: 3px; position: absolute}
.class-191 {width: 106.0px; height: 24.0px; white-space: normal;  left: 44px; top: 8px; position: absolute; text-align: left; color: #000000; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
