<div class="frame-3 style-1" id="65:1886">
  <div class="rectangle398939 style-2" id="65:1861"></div>
  
  <div class="name-star style-3" id="65:1862">
    <span class="style-4">Name </span><span class="style-5">*</span>
  </div>
  
  <div class="dob-star style-6" id="65:1863">
    <span class="style-7">DOB </span><span class="style-8">*</span>
  </div>
  
  <div class="account-no style-9" id="65:1864">Account NO</div>
  <div class="address style-10" id="65:1865">Address</div>
  
  <div class="phone-no-star style-11" id="65:1866">
    <span class="style-12">Phone No </span><span class="style-13">*</span>
  </div>
  
  <div class="email style-14" id="65:1867">Email</div>

  <form #userFormElement [formGroup]="userForm" (ngSubmit)="saveUser()" novalidate>
    <input 
      class="name-textbox style-15" 
      id="65:1868" 
      placeholder="Daniel bryan" 
      type="text" 
      formControlName="name"
      aria-label="Name"
    />

    <input 
      class="name-textbox style-16" 
      id="65:1869" 
      placeholder="12/5/1991" 
      type="date" 
      [max]="maxDate"
      formControlName="dob"
      aria-label="Date of Birth"
    />

    <input 
      class="name-textbox style-17" 
      id="65:1870" 
      placeholder="344567890-98" 
      type="text"
      formControlName="accountNo"
      aria-label="Account Number"
    />

    <input 
      class="name-textbox style-18" 
      id="65:1871" 
      placeholder="hdfgfurhfrhgdrhgiuhoough" 
      type="text"
      formControlName="address"
      aria-label="Address"
    />

    <input 
      class="name-textbox style-19" 
      id="65:1872" 
      placeholder="684685366565" 
      type="tel"
      formControlName="phone"
      aria-label="Phone Number"
    />

    <input 
      class="name-textbox style-20" 
      id="65:1873" 
      placeholder="Danielbryan@email.com" 
      type="email"
      formControlName="email"
      aria-label="Email"
    />

    <div class="group-1000000973 style-21" id="65:1880"></div>
    <div class="rectangle398935 style-22" id="65:1883"></div>
    <button class="save style-23" id="65:1884" type="submit">Save</button>
  </form>
</div>