<div class="BillPay style-1" id="65:1404">
    <div class="Group1000000971 style-2" id="65:1405">
        <div class="Bg-color style-3" id="65:1406">
        </div>
    </div>
    <div class="Rectangle398937 style-4" id="65:1407">
    </div>
    <img class="CGI_logo.svg(1)1 style-5" id="65:1408" src="../../assets/images/a_322fc3889a9ffb9988f181411fab01ed6a41a168.jpg"/>
    <div class="Admin style-6" id="65:1409">
        <div class="User style-7" id="65:1410">User</div>
        <img class="Ellipse585 style-8" id="65:1411" src="../../assets/images/a_4005ebe9033ad300378b00576e9bce5f794c8dfe.jpg"/>
    </div>
    <div class="Rectangle2878 style-9" id="65:1412">
    </div>
    <div class="MENU style-10" id="65:1413">MENU</div>
    <div class="Report style-11" (click)="navigateTo('/report')" id="65:1415">Report</div>
    <div class="Rectangle398939 style-12" id="65:1416">
    </div>
    <div class="AccountManagement style-13" (click)="navigateTo('/account_management')" id="65:1417">Account Management</div>
    <img class="problem-solving style-14" id="65:1418" src="../../assets/images/a_c62ca26362db98409a8cf475434c9a430082622d.jpg"/>
    <img class="user(3) style-15" id="65:1419" src="../../assets/images/a_facd96e3bd2ddf468f1e8bc055e4387d281e3be1.jpg"/>
    <img class="bill style-16" id="65:1420" src="../../assets/images/a_e88f7f691f921dc7591ea89e296a79d3ffd83696.jpg"/>
    <img class="pay style-17" id="65:1421" src="../../assets/images/a_430412e86a51ebcd66abc1c2f02092ac6a645960.jpg"/>
    <div class="CardManagement style-18" (click)="navigateTo('/card_management')" id="65:1444">Card Management</div>
    <img class="management(1) style-19" id="65:1445" src="../../assets/images/a_b2658dfc9799b15bdd78726d50b19411c22557b4.jpg"/>
    <div class="Transaction style-20" (click)="navigateTo('/transaction')" id="65:1446">Transaction</div>
    <img class="bellicon(1)1 style-21" id="65:1458" src="../../assets/images/a_b561c28c4ff2b562d8c96e024843eb0a87a78041.jpg"/>
    <div class="Billpay style-22" id="65:1414">Bill pay</div>
    <div class="Rectangle398941 style-23" id="65:1675">
    </div>
    <div class="Details style-24" id="65:1676">Details</div>
    <div class="Rectangle398942 style-25" id="65:1685">
    </div>
    <div class="Rectangle398943 style-26" id="65:1686">
    </div>
    <div class="Rectangle398945 style-27" id="65:1688">
    </div>
    <form id="paymentForm" onsubmit="handlePayment(event)">
        <input class="amount-input style-28" id="65:1681" placeholder="$250.00" type="text" value="$250.00" required/>
        <input class="recipient-input style-29" id="65:1683" placeholder="John Doe" type="text" value="John Doe" required/>
        <input class="type-input style-30" id="65:1682" placeholder="One-Time" type="text" value="One-Time" required/>
        <input class="date-input style-31" id="65:1684" placeholder="Select date" type="date" value="2025-01-12" required/>
        <button class="pay-button style-32" id="65:1689">Pay</button>
    </form>
    <div class="Amount style-33" id="65:1677">Amount</div>
    <div class="Type style-34" id="65:1678">Type</div>
    <div class="Rectangle398944 style-35" id="65:1687">
    </div>
    <div class="Recipent style-36" id="65:1679">Recipent</div>
    <div class="Date style-37" id="65:1680">Date</div>
    <div class="Logoutbtngrp style-38" id="65:1805">
        <button class="Logoutbtngrp style-39" (click)="navigateTo('/login')" id="65:1806">Logout</button>
        <div class="Group1000000974 style-40" id="65:1807">
            <img class="logout(1)1 style-41" id="65:1809" src="../../assets/images/a_e504e91842d0d6ad6298ddafa2551bb53a6f86f2.jpg"/>
        </div>
    </div>
</div>