.custom-class-0 {width: 1920.0px; height: 1147.0px; position: relative; background: rgba(245, 245, 245, 1.0)}
.custom-class-1 {width: 248px;
            height: 20px;
            left: 217px;
            top: 117px;
            position: absolute;
            background: transparent;
            border: none;}
.custom-class-2 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.custom-class-3 {width: 7.0px; height: 13.21px; left: 36px; top: 3px; position: absolute}
.custom-class-4 {width: 7.0px; height: 13.21px; left: 119px; top: 3px; position: absolute}
.custom-class-5 {width: fit-content; height: fit-content; white-space: nowrap;  left: 48px; top: 0px; position: absolute; text-align: left; color: #000000; font-size: 14.0px; font-family: Noto Sans; font-weight: 500; letter-spacing: 0.0px; text-transform: none;}
.custom-class-6 {width: 117.0px; height: fit-content; white-space: normal;  left: 131px; top: 0px; position: absolute; text-align: left; color: #27509b; font-size: 14.0px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; text-transform: none;}
.custom-class-7 {width: 31px;
            height: 16px;
            left: 0px;
            top: 2px;
            position: absolute;
            background: transparent;
            border: none;}
.custom-class-8 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.custom-class-9 {width: 31.0px; height: 16.0px; 
                left: 0px; top: 0px; 
                position: absolute; background: rgba(39, 80, 155, 1.0); 
                 border-radius: 3.0px;  
                transform: rotate(0.0deg); transform-origin: 0 0;}
.custom-class-10 {width: 16.0px; height: 15.97px; left: 8px; top: 0px; position: absolute}
.custom-class-11 {width: fit-content; height: fit-content; white-space: nowrap;  left: 217px; top: 164px; position: absolute; text-align: left; color: #000000; font-size: 36.0px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; text-transform: none;}
.custom-class-12 {width: fit-content; height: fit-content; white-space: nowrap;  left: 241px; top: 228px; position: absolute; text-align: left; color: #000000; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.custom-class-13 {width: 130px; height: 26px; left: 343px; top: 225px; position: absolute; background: rgba(212, 231, 250, 1.0); display: flex; align-items: center; justify-content: center; color: rgba(0, 0, 0, 1.0);; border: none;; border: none;; font-size: 14.0px;; font-family: Noto Sans;; font-weight: 400;; letter-spacing: 0.0px;; line-height: 20.0px;;}
.custom-class-14 {width: fit-content; height: fit-content; white-space: nowrap;  left: 495px; top: 226px; position: absolute; text-align: left; color: #000000; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.custom-class-15 {width: 123px; height: 48px; left: 1646px; top: 150px; position: absolute; background: rgba(39, 80, 155, 1.0); display: flex; align-items: center; justify-content: center; color: rgba(255, 255, 255, 1.0);; border: none;; border-radius: 7px;; border: none;; font-size: 16.0px;; font-family: Noto Sans;; font-weight: 500;; letter-spacing: 0.0px;; line-height: 24.0px;;}
.custom-class-16 {
                    position: relative;
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    margin-right: 8px;
                }
.custom-class-17 {background: rgba(39, 80, 155, 1.0); width: 1920.0px; height: 81.0px; position: absolute; left: 0px; top: 0px; display: flex; align-items: center; justify-content: space-between; ;}
.custom-class-18 {color: rgba(255, 255, 255, 1.0); font-size: 28.0px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; margin-left: 298px}
.custom-class-19 {display: flex; align-items: center; position: relative;}
.custom-class-20 {color: rgba(255, 255, 255, 1.0); font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px;; text-decoration: none; margin-right: 20px; position: relative}
.custom-class-21 {color: rgba(255, 255, 255, 1.0); font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px;; text-decoration: none; margin-right: 20px; position: relative}
.custom-class-22 {width: 63px;
            height: 28px;
            left: 1600px;
            top: 28px;
            position: absolute;
            background: transparent;
            border: none;}
.custom-class-23 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.custom-class-24 {position: absolute;
        left: 32px;
        top: -0.5px;
        width: 1.0px;
        height: 25.0px;
        background-color: rgba(255, 255, 255, 1.0);
        transform-origin: CENTER;}
.custom-class-25 {width: fit-content; height: fit-content; white-space: nowrap;  left: 0px; top: 3px; position: absolute; text-align: left; color: #ffffff; font-size: 18.0px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; text-transform: none;}
.custom-class-26 {width: fit-content; height: fit-content; white-space: nowrap;  left: 38px; top: 3px; position: absolute; text-align: left; color: #ffffff; font-size: 18.0px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; text-transform: none;}
.custom-class-27 {position: absolute;
            width: 359px;
            height: 55px;
            left: 775px;
            top: 13px;}
.custom-class-28 {width: 359px; height: 55px; position: absolute; left: 0; top: 0; background: transparent; outline: none; color: rgba(178, 178, 178, 1.0);; border: none; border: none;; font-size: 14.0px;; font-family: Noto Sans;; font-weight: 400;; letter-spacing: 0.0px;; line-height: 24.0px;; border-radius: 10px;; border: 1.0px solid rgba(214, 214, 214, 1.0);;}
.custom-class-29 {width: 1920px; height: 53px; left: 0px; top: 1088px; position: relative; background-color: rgba(39, 80, 155, 1.0)}
.custom-class-30 {color: rgba(255, 255, 255, 1.0); position: absolute; left: 868px; top: 11px; width: 184px; height: 25px; font-size: 14.0px; font-family: Noto Sans; font-weight: 700; text-align: center}
.custom-class-31 {width: 1601.0px; height: 811.0px; 
                left: 217px; top: 262px; 
                position: absolute; background: rgba(255, 255, 255, 1.0); 
                   
                transform: rotate(0.0deg); transform-origin: 0 0;}
.custom-class-32 {width: 16.531005859375px; height: 16.531005859375px; left: 834px; top: 386px; position: absolute; appearance: none; -webkit-appearance: none; -moz-appearance: none; background: rgba(255, 255, 255, 1.0); outline: none; cursor: pointer; border-radius: 50%; padding: 0; margin: 0; border: 1.0px solid rgba(39, 80, 155, 1.0);transition: all 0.2s ease-in-out; &:checked::after { content: ''; display: none; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 10.791072845458984px; height: 10.791072845458984px; background: rgba(39, 80, 155, 1.0); border-radius: 50%; border: 1.0px solid rgba(39, 80, 155, 1.0); }; &:checked::after { display: block; }}
.custom-class-33 {width: 16.531005859375px; height: 16.531005859375px; left: 934px; top: 386px; position: absolute; appearance: none; -webkit-appearance: none; -moz-appearance: none; background: rgba(255, 255, 255, 1.0); outline: none; cursor: pointer; border-radius: 50%; padding: 0; margin: 0; border: 1.0px solid rgba(39, 80, 155, 1.0);transition: all 0.2s ease-in-out; &:checked { background: rgba(255, 255, 255, 1.0); border: 1.0px solid rgba(39, 80, 155, 1.0); }}
.custom-class-34 {width: fit-content; height: fit-content; white-space: nowrap;  left: 245px; top: 286px; position: absolute; text-align: left; color: #000000; font-size: 32.0px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; text-transform: none;}
.custom-class-35 {width: 8.0px; height: 23.7px; white-space: normal;  left: 716px; top: 823px; position: absolute; text-align: left; color: #b71c1c; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.custom-class-36 {width: 8.0px; height: 23.7px; white-space: normal;  left: 1495px; top: 571px; position: absolute; text-align: left; color: #b71c1c; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.custom-class-37 {position: absolute; width: 323px; height: 51px; left: 245px; top: 364px;}
.custom-class-38 {position: relative; background: transparent; color: rgba(133, 133, 133, 1.0);; border: none;; font-size: 14.0px;; font-family: Noto Sans;; font-weight: 400;; letter-spacing: 0.0px;; line-height: 24.0px;; font-size: 14.0px;; font-family: Noto Sans;; font-weight: 500;; letter-spacing: 0.0px;; line-height: 24.0px;; appearance: none;; cursor: pointer;; padding: 0 20px 0 20px;; width: 100%;; height: 100%;;}
.custom-class-39 {position: absolute;
        left: -0.3499999940395355px;
        top: 51.0px;
        width: 323.0px;
        height: 0.699999988079071px;
        background-color: rgba(0, 0, 0, 1.0);
        transform-origin: CENTER;}
.custom-class-40 {width: fit-content; height: fit-content; white-space: nowrap;  left: 704px; top: 382px; position: absolute; text-align: center; color: #000000; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.custom-class-41 {width: fit-content; height: fit-content; white-space: nowrap;  left: 269px; top: 459px; position: absolute; text-align: center; color: #000000; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.custom-class-42 {width: 177px; height: 48px; left: 1384px; top: 369px; position: absolute; background: rgba(252, 229, 0, 1.0); display: flex; align-items: center; justify-content: center; color: rgba(0, 0, 0, 1.0);; border: none;; border-radius: 8px;; border: none;; font-size: 16.0px;; font-family: Noto Sans;; font-weight: 500;; letter-spacing: 0.0px;; line-height: 24.0px;;}
.custom-class-43 {
                    position: relative;
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    margin-right: 8px;
                }
.custom-class-44 {width: 177px; height: 48px; left: 1167px; top: 371px; position: absolute; background: rgba(39, 80, 155, 1.0); display: flex; align-items: center; justify-content: center; color: rgba(255, 255, 255, 1.0);; border: none;; border-radius: 8px;; border: none;; font-size: 16.0px;; font-family: Noto Sans;; font-weight: 500;; letter-spacing: 0.0px;; line-height: 24.0px;;}
.custom-class-45 {
                    position: relative;
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    margin-right: 8px;
                }
.custom-class-46 {width: 16.0px; height: 16.0px; left: 245px; top: 463px; position: absolute}
.custom-class-47 {width: fit-content; height: fit-content; white-space: nowrap;  left: 953px; top: 382px; position: absolute; text-align: center; color: #000000; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.custom-class-48 {width: fit-content; height: fit-content; white-space: nowrap;  left: 852px; top: 382px; position: absolute; text-align: center; color: #000000; font-size: 14.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.custom-class-49 {width: 199px;
            height: 1007px;
            left: 0px;
            top: 81px;
            position: absolute;
            background: rgba(255, 255, 255, 1.0);
            box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2); border: 0.5px solid rgba(220, 221, 222, 1.0);}
.custom-class-50 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.custom-class-51 {width: 199px;
            height: 56px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: rgba(255, 255, 255, 1.0);
            border: none;}
.custom-class-52 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.custom-class-53 {width: fit-content; height: fit-content; white-space: nowrap;  left: 16px; top: 19px; position: absolute; text-align: left; color: #000000; font-size: 16.0px; font-family: Noto Sans; font-weight: 400; letter-spacing: 0.0px; text-transform: none;}
.custom-class-54 {width: 199px;
            height: 56px;
            left: 0px;
            top: 56px;
            position: absolute;
            background: rgba(39, 80, 155, 1.0);
            border: none;}
.custom-class-55 {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
.custom-class-56 {width: fit-content; height: fit-content; white-space: nowrap;  left: 16px; top: 19px; position: absolute; text-align: left; color: #ffffff; font-size: 16.0px; font-family: Noto Sans; font-weight: 700; letter-spacing: 0.0px; text-transform: none;}
